@inject IReportingDeadlineHelper SnapshotDateHelper
@inject IWebService WebService
@inject IObfuscator Obfuscator
@using ModernSlavery.Core.Interfaces
@model IEnumerable<UserOrganisation>
@{
    Layout = "~/Views/GdsLayout.cshtml";
    Title = "Select an organisation";
    var hasRegisteredOrgs = Model.Any();
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Register or select organisations you want to add statements for
        </h1>

        <p class="govuk-body govuk-!-font-size-24">Before you can add an organisation’s statement to the registry, you need to register the organisation on your account.</p>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Read about multiple users for the same organisation
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">If multiple people want to be able to use this service on behalf of the same organisation (for example, to collaborate on providing information):</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>each person must create their own account</li>
                    <li>each person must then register the organisation on their account</li>
                    <li>everyone who has registered the same organisation on their account is visible to one another</li>
                    <li>everyone who has registered the same organisation on their account can remove the other users from the list of people able to submit for that organisaiton (when this happens, the ‘removed’ person will receive an email notification)</li>
                </ul>
            </div>
        </details>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                If your statement is for a group of organisations you only need to register the parent organisation.
            </strong>
        </div>

    </div>

</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-!-font-size-24">Your registered organisations</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Organisation name</th>
                    <th scope="col" class="govuk-table__header">Registration status</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var userOrg in Model)
                {
                    var encOrgId = Obfuscator.Obfuscate(userOrg.OrganisationId.ToString());

                    <tr class="govuk-table__row">
                        @if (userOrg.PINSentDate != null && userOrg.PINConfirmedDate == null)
                        {
                            <td class="govuk-table__cell" scope="row">
                                <a class="govuk-link" id="ActivateOrg-@(encOrgId)" href="@Url.ActionArea("ActivateService","Registration", "Registration", new {id = encOrgId})">
                                    <span>@userOrg.Organisation.OrganisationName.ToUpper()</span>
                                </a>
                            </td>
                            <td class="govuk-table__cell" data-prefix="Status">
                                Awaiting activation PIN
                            </td>
                        }
                        else if (userOrg.PINSentDate == null && userOrg.PINConfirmedDate == null)
                        {
                            <td class="govuk-table__cell" scope="row">
                                <span>@userOrg.Organisation.OrganisationName.ToUpper()</span>
                            </td>
                            <td class="govuk-table__cell" data-prefix="Status">
                                Awaiting registration approval
                            </td>
                        }
                        else
                        {
                            <td class="govuk-table__cell" scope="row">
                                <a class="govuk-link" id="ManageOrg-@(encOrgId)" href="@Url.Action("ManageOrganisation", "Submission", new {organisationIdentifier = encOrgId})">
                                    <span>@userOrg.Organisation.OrganisationName.ToUpper()</span>
                                </a>
                            </td>
                            <td class="govuk-table__cell" data-prefix="Status">
                                <span>Registration complete</span>
                            </td>
                        }
                    </tr>
                }

                @if (hasRegisteredOrgs == false)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-padding-top-4 govuk-!-padding-bottom-4" colspan="2">No registered organisations</td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">
            <a class="govuk-button" href="@Url.ActionArea("OrganisationType","Registration", "Registration")">Register an organisation</a>
        </p>

        @if (hasRegisteredOrgs == false)
        {
            <h2 class="govuk-heading-s">Need to close your account?</h2>
            <p class="govuk-body">
                You only need an account if you want to add a statement to the registry. If you do not need an account, go to <a asp-action="ManageAccount" asp-controller="Account" asp-area="Account">manage your details</a> to close it.
            </p>
        }

    </div>

</div>