@inject SubmissionOptions SubmissionOptions
@inject SharedOptions sharedOptions
@inject IWebService WebService
@inject ModernSlavery.Core.Interfaces.IObfuscator Obfuscator
@using ModernSlavery.Core.Models
@using ModernSlavery.BusinessDomain.Shared.Models
@model ManageOrganisationModel
@{
    Layout = "~/Views/DfeTemplate.cshtml";
    ViewBag.Title = "Manage " + Model.OrganisationName + " organisation - Modern Slavery reporting service";
}

@await Html.PartialAsync("AccountNavigation")

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">
            <span class="heading-secondary">Reporting as @Model.OrganisationName</span>
            Manage your modern slavery statement submissions
        </h1>
        <div style="margin-bottom: 20px">
            <dl>
                <div>
                    <dt>
                        <strong>Address</strong>
                    </dt>
                </div>
                <div>
                    <dt style="color: gray; font-size: 0.8em; font-weight: lighter;">
                        @Html.Raw(Model.LatestAddress.Replace(Environment.NewLine,"&#44;<br/>"))
                    </dt>
                </div>
            </dl>
        </div>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        <details>
            <summary>
                <span class="summary">Incorrect details</span>
            </summary>
            <div class="panel panel-border-narrow">
                <p>
                    If you are a private or voluntary organisation and need to change your organisation name,
                    sector information, or address you should do this via Companies House.
                    Changes that you make will automatically be reflected on this site.
                    If this information is not available on Companies House, please contact <a href="mailto:@(sharedOptions.MSUReportingEmail)" target="_blank">@sharedOptions.MSUReportingEmail</a>
                </p>
            </div>
        </details>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-medium">
            Manage your submissions
        </h2>

        <div class="gpg-manage-reports">

            <div class="gpg-manage-reports__head">
                <div class="gpg-manage-reports__desc">
                    Year
                </div>
                <div class="gpg-manage-reports__desc">
                    Submission requirement
                </div>
                <div class="gpg-manage-reports__desc">
                    Submission status
                </div>
                <div class="gpg-manage-reports__desc">
                </div>
            </div>
            @await foreach (StatementInfoModel statementInfoModel in Model.StatementInfoModels)
            {
                @await Html.PartialAsync("StatementInfoViewModel", new StatementInfoViewModel(statementInfoModel, Url, Model.OrganisationIdentifier))
            }

        </div>

    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-medium">
            Registered users
        </h2>
        @if (Model.AssociatedUserOrgs.Count == 0)
        {
            <p>
                You are the only person registered to report for this organisation.
            </p>
            <p>
                If you remove yourself:
            </p>
            <ul class="list list-bullet">
                <li>You will not be able to report for this organisation</li>
                <li>Someone else must register this organisation to report - this can take up to a week</li>
                <li>Your account will remain open</li>
            </ul>
        }
        else
        {
            <p>
                The following people are registered to report information for this organisation.
            </p>
        }

        <div class="grid-row">
            <div class="column-two-thirds">
                <table class="organisations-table">
                    @foreach (var assocUserOrg in Model.AssociatedUserOrgs)
                    {
                        var userFullname = assocUserOrg.User.Fullname;
                        var encUserId = Obfuscator.Obfuscate(assocUserOrg.UserId.ToString());
                        <tr>
                            <td style="border: none;" class="org-name">@userFullname</td>
                            <td style="border: none;">
                                <a href="@Url.ActionArea("RemoveOrganisation","Registration", "Registration", new {orgId = Model.OrganisationIdentifier, userId = encUserId})">
                                    Remove user
                                </a>
                            </td>
                        </tr>
                    }

                    <tr>
                        <td style="border: none;" class="org-name">
                            @Model.CurrentUserFullName <span>(You)</span>
                        </td>
                        <td style="border: none;">
                            <a href="@Url.ActionArea("RemoveOrganisation","Registration", "Registration", new {orgId = Model.OrganisationIdentifier, userId = Model.CurrentUserIdentifier})">
                                Remove user
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>