@inject SubmissionOptions SubmissionOptions
@inject SharedOptions sharedOptions
@inject IWebService WebService
@inject ModernSlavery.Core.Interfaces.IReportingDeadlineHelper reportingDeadlineHelper
@inject ModernSlavery.Core.Interfaces.IObfuscator Obfuscator
@using ModernSlavery.Core.Models
@using ModernSlavery.BusinessDomain.Shared.Models
@model ManageOrganisationModel
@{
    Layout = "~/Views/GdsLayout.cshtml";
    Title = "Manage " + Model.OrganisationName + " organisation";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Model.OrganisationName</h1>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Organisation address
                </span>
            </summary>
            <div class="govuk-details__text">
                @Html.Linebreak(Model.LatestAddress, Environment.NewLine, ",")
                <h2 class="govuk-heading-s govuk-!-margin-top-7 govuk-!-margin-bottom-1">
                    What to do if the organisation’s address is incorrect?
                </h2>
                <p class="govuk-body">
                    If you are a private or voluntary organisation and need to change your organisation name, sector information, or address you should do this via Companies House.
                    Changes that you make will automatically be reflected on this site.
                    If this information is not available on Companies House, please contact <a class="govuk-link" href="mailto:modernslaverystatements@homeoffice.gov.uk">modernslaverystatements@homeoffice.gov.uk</a>
                </p>
            </div>
        </details>

        <p class="govuk-body govuk-!-font-size-24">
            Use this page to manage your statements on the registry.
            You can start or continue to provide information about your statement and submit it when you’re ready – or edit and resubmit a statement that you’ve already added.
        </p>

        <h2 class="govuk-heading-m">
            Manage your modern slavery statements
        </h2>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                You should select the year when your statement was due to be published on your website. This is 6 months after your financial year end.  
            </strong>
        </div>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Read more about which year to select for your statement
                </span>
            </summary>
            <div class="govuk-details__text">
                <p>If your financial year end was before June 2020, select 2020 for the statement covering this period (as it was due to be published before the end of 2020).</p>
                <p>If your financial year end was after June 2020, select 2021 as the statement year (as it is due to be published in 2021).</p>
                <p>If your financial year end this year is before June 2021, select 2021 for the statement covering this period (as it is due to be published before the end of 2021).</p>
                <p>If your financial year end is after June 2021, your statement is not due to be published yet.</p>
            </div>
        </details>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <table class="govuk-table">

            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">
                        Year
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Do you have to publish a statement on your website by law?
                    </th>
                    <th scope="col" class="govuk-table__header">
                        Status of statement on the registry
                    </th>
                    <th scope="col" class="govuk-table__header">
                    </th>
                </tr>
            </thead>

            <tbody class="govuk-table__body">
                @await foreach (StatementInfoModel statementInfoModel in Model.StatementInfoModels)
                {
                    <partial name="StatementInfoViewModel" model="new StatementInfoViewModel(statementInfoModel, Url, reportingDeadlineHelper, Model.OrganisationIdentifier)" />
                    @*@await Html.PartialAsync("StatementInfoViewModel", new StatementInfoViewModel(statementInfoModel, Url, reportingDeadlineHelper, Model.OrganisationIdentifier))*@
                }
            </tbody>
        </table>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
            Users who can add statements for this organisation
        </h2>
        @if (Model.AssociatedUserOrgs.Count == 0)
        {
            <p>
                You are the only person registered to add this organisation’s modern slavery statements to the service.
            </p>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        What happens if I remove myself?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    If you remove yourself:
                    <ul class="list list-bullet">
                        <li>you will not be able to add this organisaton’s modern slavery statements to the registry</li>
                        <li>someone else will need to register this organisation in order to add its statements to the registry; registering an organisation can take up to a week</li>
                        <li>your account will remain open</li>
                    </ul>
                </div>
            </details>
        }
        else
        {
            <p>
                The following users have registered this organisation on their account and can add its modern slavery statements to the registry:
            </p>
        }

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <table class="organisations-table">
                    @foreach (var assocUserOrg in Model.AssociatedUserOrgs)
                    {
                        var userFullname = assocUserOrg.User.Fullname;
                        var encUserId = Obfuscator.Obfuscate(assocUserOrg.UserId.ToString());
                        <tr>
                            <td style="border: none;" class="org-name">@userFullname</td>
                            <td style="border: none;">
                                <a class="govuk-link" href="@Url.ActionArea("RemoveOrganisation","Registration", "Registration", new {orgId = Model.OrganisationIdentifier, userId = encUserId})">
                                    Remove
                                </a>
                            </td>
                        </tr>
                    }

                    <tr>
                        <td style="border: none;" class="org-name">
                            @Model.CurrentUserFullName <span>(You)</span>
                        </td>
                        <td style="border: none;">
                            <a class="govuk-link" href="@Url.ActionArea("RemoveOrganisation","Registration", "Registration", new {orgId = Model.OrganisationIdentifier, userId = Model.CurrentUserIdentifier})">
                                Remove
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>