@inject IReportingDeadlineHelper SnapshotDateHelper
@inject IWebService WebService
@inject IObfuscator Obfuscator
@using ModernSlavery.Core.Interfaces
@model IEnumerable<UserOrganisation>
@{
    Layout = "~/Views/DfeTemplate.cshtml";
    ViewBag.Title = "Manage your organisation - Modern Slavery reporting service";
    var hasRegisteredOrgs = Model.Any();
}

@await Html.PartialAsync("AccountNavigation")

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-large">
            Select an organisation
        </h1>
        <p>Use this page to access your registered organisations or to register a new organisation.</p>

        <p>Once you've selected an organisation (by clicking on its name, below) you can:</p>

        <ul class="list-bullet">
            <li>state whether this organisation is required to publish an annual modern slavery statement</li>
            <li>provide a link to the full modern slavery statement published on the organisation's website</li>
            <li>enter information about this organisation's modern slavery statement</li>
            <li>save this information as a draft, and complete it at a later date before submitting it</li>
        </ul>

        <p>The information you submit will be published on our viewing service as a summary of your modern slavery statement.</p>

        <table class="organisations-table" summary="A list of organisations registered to your account" style="margin-top: 30px">
            <thead>
                <tr>
                    <th class="org-name" scope="col">Organisation name</th>
                    <th scope="col">Registration status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userOrg in Model)
                {
                    // include the currrent user in the count but dont show a count to pending users
                    var assocUserCount = userOrg.GetAssociatedUsers().Count();
                    var accountingDate = SnapshotDateHelper.GetReportingStartDate(userOrg.Organisation.SectorType);

                    var encOrgId = Obfuscator.Obfuscate(userOrg.OrganisationId.ToString());
                    var latestStatement = userOrg.Organisation.LatestStatement;
                    var scopeStatus = userOrg.Organisation.GetActiveScopeStatus(accountingDate);
                    var address = userOrg.Organisation.GetLatestAddress()?.GetAddressString();

                    <tr>
                        @if (userOrg.PINSentDate != null && userOrg.PINConfirmedDate == null)
                        {
                            <th scope="row">
                                <a id="ActivateOrg-@(encOrgId)" href="@Url.ActionArea("ActivateService","Registration", "Registration", new {id = encOrgId})">
                                    <span>@userOrg.Organisation.OrganisationName.ToUpper()</span>
                                </a>
                            </th>
                            <td data-prefix="Status">
                                Awaiting activation PIN
                            </td>
                        }
                        else if (userOrg.PINSentDate == null && userOrg.PINConfirmedDate == null)
                        {
                            <th scope="row">
                                <span>@userOrg.Organisation.OrganisationName.ToUpper()</span>
                            </th>
                            <td data-prefix="Status">
                                Awaiting registration approval
                            </td>
                        }
                        else
                        {
                            <th scope="row">
                                <a id="ManageOrg-@(encOrgId)" href="@Url.Action("ManageOrganisation", "Submission", new {organisationIdentifier = encOrgId})">
                                    <span>@userOrg.Organisation.OrganisationName.ToUpper()</span>
                                </a>
                            </th>
                            <td data-prefix="Status">
                                <span>Registration complete</span>
                            </td>
                        }
                    </tr>
                }

                @if (hasRegisteredOrgs == false)
                {
                    <tr>
                        <td colspan="2" style="border-bottom: none">There are no organisations registered to your account.</td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

</div>

<div class="grid-row">

    <div class="column-two-thirds">

        <p>
            <a class="button" href="@Url.ActionArea("OrganisationType","Registration", "Registration")">Register an organisation</a>
        </p>

        @if (hasRegisteredOrgs == false)
        {
            <h2 class="heading-small">Need to close your account?</h2>
            <p>
                If you created an account by mistake or no longer responsible
                for reporting Modern Slavery statement you can close your account in <a asp-action="home" asp-controller="Account" asp-area="Account">manage account</a>.
            </p>
        }

    </div>

</div>
<hr style="background: black; border: 1px solid black;" />
<partial name="~/Views/Shared/ServiceSurveyIntroAndLink.cshtml" />