@using ModernSlavery.Core.Interfaces
@model StatementInfoViewModel
@{
    var reportingDeadline = Model.StatementInfo.ReportingDeadline.AddDays(-1);
    var reportDateFormatter = new GDSDateFormatter(reportingDeadline);
    var groupSubmissionWord = Model.StatementInfo.SubmittedStatementModifiedDate == null ? (Model.DraftAvailable ? "Also" : "Already") : "Also";
}

<tr class="govuk-table__row">

    <th scope="row" class="govuk-table__header">
        @reportingDeadline.Year
    </th>

    <td class="govuk-table__cell">
        <div>
            @if (!Model.StatementInfo.RequiredToReport)
            {
                <span>No</span>
            }
            else
            {
                <span>Yes</span>
            }
        </div>
        @if (Model.StatementInfo.IsStatementEditable)
        {
            <div>
                <a class="govuk-link" id="ChangeScope@(reportDateFormatter.StartYear)-@(Model.OrganisationIdentifier)" href="@(Url.ActionArea("ChangeOrganisationScope", "Scope", "Submission", new {organisationIdentifier = Model.OrganisationIdentifier, reportingDeadlineYear=reportDateFormatter.StartYear}))">Change</a>
            </div>
        }
    </td>

    <td class="govuk-table__cell">
        <div>

            @if (Model.StatementInfo.SubmittedStatementModifiedDate == null)
            {
                if (Model.DraftAvailable)
                {
                    <span>In progress</span>
                }
                else if (Model.StatementInfo.GroupSubmissionInfo == null)
                {
                    <span>Not started</span>
                }
            }
            else
            {
                <span>Published</span>
                if (!Model.StatementInfo.RequiredToReport)
                {
                    <span> voluntarily</span>
                }
                var modifiedDateFormatter = new GDSDateFormatter(Model.StatementInfo.SubmittedStatementModifiedDate.Value);
                <span> on @modifiedDateFormatter.FullStartDate</span>
            }

            @if (Model.StatementInfo.GroupSubmissionInfo != null)
            {
                <div class="group-submission-info">
                    @if (Model.StatementInfo.GroupSubmissionInfo.Count > 1)
                    {
                        <span> @groupSubmissionWord included in:</span>

                        <ul class="govuk-list--bullet">
                            @foreach (var submission in Model.StatementInfo.GroupSubmissionInfo)
                            {
                                <li>@submission</li>
                            }
                        </ul>
                    }
                    @if (Model.StatementInfo.GroupSubmissionInfo.Count == 1)
                    {
                        <span>@groupSubmissionWord included in @Model.StatementInfo.GroupSubmissionInfo.FirstOrDefault()</span>
                    }
                </div>
            }
        </div>
    </td>

    <td class="govuk-table__cell app-manage-statements__cell--action">
        @if (Model.StatementInfo.IsStatementEditable)
        {
            <a class="govuk-button" id="NewReport@(reportDateFormatter.StartYear)-@(Model.OrganisationIdentifier)" href="@Model.EditUrl">
                <span>@Model.ButtonText</span>
            </a>
        }
    </td>
</tr>
