@model ErrorViewModel
@{
    Title = Model.Title;
    Layout = "~/Views/DfeTemplate.cshtml";
    if (Model.ErrorCode.Between(400, 599))this.Context.Response.StatusCode = Model.ResponseCode;
}
<div class="grid-row" errorCode="@Model.ErrorCode">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">@Model.Title</h1>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <div class="bold-small">
                @Model.Subtitle
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <p>@Html.Raw(Model.Description)</p>
        }

        @if (!string.IsNullOrWhiteSpace(Model.CallToAction))
        {
            <div class="subsection panel-indent">
                <div class="bold-small">@Html.Raw(Model.CallToAction)</div>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.ActionUrl))
        {
            <p></p>
            <a class="button" href="@Model.ActionUrl" role="button">@Model.ActionText</a>
        }
    </div>
</div>