@using ModernSlavery.Core.Models
@inject SharedOptions sharedOptions
@model FeedbackViewModel
@{Layout = "~/Views/GdsLayout.cshtml";}
@{
    Title = "Send us feedback";
    var backUrl = Context.GetUrlReferrer()?.ToString();
    if (string.IsNullOrWhiteSpace(backUrl)) backUrl = "/";
}

@section BeforeMain {

    @if (!string.IsNullOrWhiteSpace(Model.BackUrl))
    {
        <a class="govuk-back-link govuk-!-margin-bottom-0" href="@Model.BackUrl">Back</a>
    }
}

<div class="govuk-grid-row cookie-settings-page">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate = "" }))
        {
            @(Html.AntiForgeryToken())
            @(await Html.GovUkValidationSummaryAsync())

            <h1 class="govuk-heading-l">Send us feedback</h1>
            <div class="govuk-form-group">

                <div class="govuk-form-group @Html.SetErrorClass(model => model.WhyVisitMSUSite, "govuk-form-group--error")">
                    <fieldset class="govuk-fieldset govuk-!-margin-top-6">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                                What did you do on this service?
                            </h1>
                        </legend>
                        <div class="govuk-radios">
                            @foreach (var reason in Enums.GetValues<WhyVisitSite>().Where(x => x != WhyVisitSite.Unknown))
                            {
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="WhyVisit-@(reason)" name="WhyVisitMSUSite" type="radio" value="@(reason)" checked="@(Model.WhyVisitMSUSite == reason)">
                                    <label class="govuk-label govuk-radios__label" for="WhyVisit-@(reason)">
                                        @(reason.GetEnumDescription())
                                    </label>
                                </div>
                            }
                        </div>
                    </fieldset>
                    <span asp-validation-for="WhyVisitMSUSite" class="govuk-error-message"></span>
                </div>

                <div class="govuk-form-group @Html.SetErrorClass(model => model.HowEasyIsThisServiceToUse, "govuk-form-group--error")">
                    <fieldset class="govuk-fieldset govuk-!-margin-top-6">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                                How easy or difficult was it to use the service?
                            </h1>
                        </legend>
                        <div class="govuk-radios">
                            @foreach (var reason in Enums.GetValues<HowEasyIsThisServiceToUse>().Where(x => x != HowEasyIsThisServiceToUse.Unknown))
                            {
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="HowEasy-@(reason)" name="HowEasyIsThisServiceToUse" type="radio" value="@(reason)" checked="@(Model.HowEasyIsThisServiceToUse == reason)">
                                    <label class="govuk-label govuk-radios__label" for="HowEasy-@(reason)">
                                        @(reason.GetEnumDescription())
                                    </label>
                                </div>
                            }
                        </div>
                    </fieldset>
                    <span asp-validation-for="HowEasyIsThisServiceToUse" class="govuk-error-message"></span>
                </div>

                <div class="govuk-character-count @Html.SetErrorClass(model => model.Details, "govuk-form-group--error")" data-module="govuk-character-count" data-maxlength="2000">
                    <div class="govuk-form-group govuk-!-margin-top-6">
                        <label class="govuk-label govuk-label--m" for="details">
                            How can we improve the service? (optional)
                        </label>
                        <textarea class="govuk-textarea govuk-js-character-count" id="details" name="Details" rows="5" aria-describedby="hint-info details-info">@Model.Details</textarea>
                    </div>
                    <span asp-validation-for="Details" class="govuk-error-message"></span>
                </div>

                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-!-margin-bottom-4">
                        <label class="govuk-label govuk-label--m">
                            Further feedback
                        </label>
                        If you`re happy for us to get in touch with you about your feedback, please provide your details below.
                        To find out how we'll handle your data, see our <a href="@Url.Action("PrivacyPolicy", "Shared")">Privacy policy</a>.
                    </legend>

                    <div class="govuk-form-group @Html.SetErrorClass(model => model.EmailAddress, "govuk-form-group--error")">
                        <label asp-for="EmailAddress" class="govuk-label">Your email address (optional)</label>
                        <input asp-for="EmailAddress" class="govuk-input govuk-input--width-20" spellcheck="false">
                        <span asp-validation-for="EmailAddress" class="govuk-error-message"></span>
                    </div>

                    <div class="govuk-form-group @Html.SetErrorClass(model => model.PhoneNumber, "govuk-form-group--error")">
                        <label asp-for="PhoneNumber" class="govuk-label">Your phone number (optional)</label>
                        <input asp-for="PhoneNumber" class="govuk-input govuk-input--width-20" spellcheck="false">
                        <span asp-validation-for="PhoneNumber" class="govuk-error-message"></span>
                    </div>

                </fieldset>

                <div class="govuk-inset-text">
                    If you're having difficulty using this service, please email <a href="mailto:@(sharedOptions.MsuReportingEmail)" class="govuk-link">@sharedOptions.MsuReportingEmail</a> and we'll get back to you quickly.
                </div>

                @(Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Submit"
                }))

            </div>
        }
    </div>
</div>