@using ModernSlavery.Core.Models
@inject SharedOptions sharedOptions
@model FeedbackViewModel
@{Layout = "~/Views/GdsLayout.cshtml";}
@{
    ViewBag.Title = "Send us feedback - Modern Slavery reporting service";
}

@section BeforeMain {
    @(Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        OverrideWithJavascript = true
    }))
}

<div class="govuk-grid-row cookie-settings-page">
    <div class="govuk-grid-column-two-thirds">
        <form method="POST" action="@Url.Action("SendFeedback", "Shared")">
            @(Html.AntiForgeryToken())
            <h1 class="govuk-heading-l">Send us feedback</h1>
            <div class="govuk-form-group">

                @(Html.GovUkErrorSummary(new[]
                {
                    nameof(FeedbackViewModel.WhyVisitMSUSite),
                    nameof(FeedbackViewModel.HowEasyIsThisServiceToUse),
                    nameof(FeedbackViewModel.Details)

                }))
                @(Html.GovUkRadiosFor(
                    m =>m.WhyVisitMSUSite,
                    new FieldsetViewModel
                    {
                        Legend = new LegendViewModel
                        {
                            Text = "What did you do on this service?",
                            Classes = "govuk-fieldset__legend--m"
                        },
                        Classes = "govuk-!-margin-top-6"

                    }
                  ))
                @(Html.GovUkRadiosFor(
                    m => m.HowEasyIsThisServiceToUse,
                    new FieldsetViewModel
                    {
                        Legend = new LegendViewModel
                        {
                            Text = "How easy or difficult was it to use the service?",
                            Classes = "govuk-fieldset__legend--m"
                        },
                        Classes = "govuk-!-margin-top-6"
                    }
                    ))
                @(Html.GovUkCharacterCountFor(
                    m => m.Details,
                    labelOptions: new LabelViewModel
                    {
                        Text = "How can we improve the service?",
                        Classes = "govuk-label--m"
                    },
                    formGroupOptions: new FormGroupViewModel
                    {
                        Classes = "govuk-!-margin-top-6"
                    }
                    ))

                <fieldset class="govuk-fieldset">                    
                    <legend class="govuk-fieldset__legend govuk-!-margin-bottom-4">
                        <label class="govuk-label govuk-label--m">
                            Further feedback
                        </label>
                        If you`re happy for us to get in touch with you about your feedback, please provide your details below.
                    </legend>

                    @(Html.GovUkTextInput(new TextInputViewModel
                {
                    Label = new LabelViewModel
                    {
                        Text = "Your email address (optional)"
                    },
                    Name = nameof(Model.EmailAddress),
                    InputMode = "email",                    
                }))
                    @(Html.GovUkTextInput(new TextInputViewModel
                    {
                        Label = new LabelViewModel
                        {
                            Text = "Your phone number (optional)"
                        },
                        Name = nameof(Model.PhoneNumber),
                        InputMode = "tel"
                    }))
                </fieldset>

                <div class="govuk-inset-text">
                    If you're having difficulty using this service, please email <a href="@(sharedOptions.MsuReportingEmail)" class="govuk-link">@sharedOptions.MsuReportingEmail</a> and we'll get back to you quickly.
                </div>

                @(Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Submit"
                }))

            </div>
        </form>
    </div>
</div>