@using ModernSlavery.Core.Extensions
@model ModernSlavery.WebUI.Shared.Models.StatementSummaryViewModel

@if (Model.GroupSubmission==true)
{
    <div id="organisations-covered" class="statement-section-two-thirds">
        <h2 class="govuk-heading-m">
            Organisations covered by the statement
        </h2>
        <p class="govuk-body">
            @Model.OrganisationName modern slavery statement for @Model.SubmissionDeadlineYear is a group statement covering <strong>@Model.GroupOrganisationCount</strong> organisations.

            @*id="GroupLink" is needed for load testing*@
            <a id="GroupLink" class="govuk-link" asp-controller="Viewing" asp-action="StatementSummaryGroup" asp-route-organisationIdentifier="@Model.ParentOrganisationId" asp-route-year="@Model.SubmissionDeadlineYear">See the full list of organisations covered by this statement</a>
        </p>
    </div>
}