@model FilterGroup
@{
    var selections = Model.Selections;
}
<div class="facet-tags__group">
    @for (var i = 0; i < selections.Count; i++)
    {
        <div class="facet-tags__wrapper">
            @if (i == 0)
            {
                <span class="facet-tags__preposition">@Model.Label</span>
            }

            else if (selections.Count > 1 && i < selections.Count)
            {
                <span class="facet-tags__preposition"> or </span>
            }
            <span class="facet-tag">
                <span class="facet-tag__text">@(selections[i].Label)</span>
                <button type="button" class="facet-tag__remove" aria-label="Remove filter @(selections[i].Label)" data-module="remove-filter-link" data-track-label="@(selections[i].Label)" data-facet="@(Model.Id)" data-value="@(selections[i].Value)" data-name="">✕</button>
            </span>
        </div>
    }
</div>
