@*layout template taken from https://github.com/alphagov/govuk_publishing_components/blob/master/app/views/govuk_publishing_components/components/_previous_and_next_navigation.html.erb*@

@model SearchViewModel
@{
    var showPrev = Model.Organisations.CurrentPage > 1;
    var showNext = Model.Organisations.CurrentPage < Model.Organisations.PageCount;

    var prevPage = showPrev ? Model.Organisations.CurrentPage - 1 : -1;
    var nextPage = showNext ? Model.Organisations.CurrentPage + 1 : -1;
}
@if (Model.Organisations.Results.Count > 0)
{
    <nav class="gem-c-pagination"
         role="navigation"
         aria-label="Pagination">

        <ul class="gem-c-pagination__list" data-module="track-click">
            @if (showPrev)
            {
                <li class="gem-c-pagination__item gem-c-pagination__item--previous">
                    <a href="@Url.WithQuery("SearchResults", new {p = Model.Organisations.CurrentPage - 1})"
                       class="gem-c-pagination__link">
                        <span class="gem-c-pagination__link-title">
                            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z" />
                            </svg>
                            <span class="gem-c-pagination__link-text">
                                Previous page
                            </span>
                        </span>
                        <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                        <span class="gem-c-pagination__link-label">@(Model.Organisations.CurrentPage - 1) of @Model.Organisations.PageCount</span>

                    </a>
                </li>
            }
            @if (showNext)
            {
                <li class="gem-c-pagination__item gem-c-pagination__item--next">
                    <a href="@Url.WithQuery("SearchResults", new {p = Model.Organisations.CurrentPage + 1})"
                       class="gem-c-pagination__link">
                        <span class="gem-c-pagination__link-title">
                            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                                <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z" />
                            </svg>
                            <span class="gem-c-pagination__link-text">
                                Next page
                            </span>
                        </span>
                        <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                        <span class="gem-c-pagination__link-label">@(Model.Organisations.CurrentPage + 1) of <span id="pageCount" data-pagecount="@(Model.Organisations.PageCount)">@(Model.Organisations.PageCount)</span></span>

                    </a>
                </li>
            }
        </ul>
    </nav>

}