@model SearchViewModel
@{
    var showPrev = Model.Organisations.CurrentPage > 1;
    var showNext = Model.Organisations.CurrentPage < Model.Organisations.PageCount;

    var prevPage = showPrev ? Model.Organisations.CurrentPage - 1 : -1;
    var nextPage = showNext ? Model.Organisations.CurrentPage + 1 : -1;
}
@if (Model.Organisations.Results.Count > 0)
{
    <div class="govuk-grid-row pagination">
        <div class="govuk-grid-column-full" data-pagecount="@Model.Organisations.PageCount" data-currentpage="@Model.Organisations.CurrentPage">
            @if (showPrev)
            {
            <div class="pagination-prev">
                <a class="pagination-button" href="@Url.WithQuery("SearchResults", new {p = Model.Organisations.CurrentPage - 1})">
                        <span class="prev-arrow"></span>
                        <span class="govuk-body govuk-!-font-weight-bold">Previous page </span><br />
                        <span class="govuk-body pagination-numbers" data-total="@Model.Organisations.PageCount">@(Model.Organisations.CurrentPage - 1) of @Model.Organisations.PageCount</span>
                 </a>
            </div>
            }
            @if (showNext)
            {

        <div class="pagination-next" display: table-row;>
            <a class="pagination-button" href="@Url.WithQuery("SearchResults", new {p = Model.Organisations.CurrentPage + 1})">
                  <span class="next-arrow"></span>
                    <span class="govuk-body govuk-!-font-weight-bold">Next page </span><br />
                    <span class="govuk-body pagination-numbers" data-total="@Model.Organisations.PageCount">@(Model.Organisations.CurrentPage + 1) of @Model.Organisations.PageCount</span>
                </a>
        </div>
            }
        </div>
    </div>

}