@{
    Layout = "~/Views/GdsLayout.cshtml";
    ViewBag.Title = "Enter your PIN - Modern Slavery reporting service";
}
@inject IWebService WebService
@model CompleteViewModel

    @await Html.PartialAsync("_ServiceInfo")

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate = "" }))
            {
                @Html.AntiForgeryToken()

                @await Html.GovUkValidationSummaryAsync()
                <h1 class="govuk-heading-l">
                    Enter your registration PIN
                </h1>
                <p class="govuk-body">
                    Enter the PIN we sent you by post to finish registering this organisation.
                </p>
                <p class="govuk-body">
                    You will then be able to submit information about this organisation`s modern slavery statement.
                </p>

                <div class="govuk-form-group @Html.SetErrorClass(model => model.PIN, "govuk-form-group--error") ">
                    @Html.LabelFor(model => model.PIN, "Enter PIN", new { @class = "govuk-label" })
                    @Html.ValidationMessageFor(model => model.PIN, null, new { @class = "govuk-error-message govuk-!-margin-bottom-0" })
                    <div class="col-md-10">
                        @Html.CustomEditorFor(model => model.PIN, new { @class = "govuk-input govuk-!-width-one-half", style = "text-transform: uppercase;", autocomplete = "off" })
                    </div>
                </div>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Problems with your PIN?
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        If your PIN hasn't arrived after 7 days or has expired, <a class="govuk-link" href="@Url.Action("RequestPIN")">request a new PIN</a>.
                    </div>
                </details>

                <input type="submit" class="govuk-button" name="command" value="Activate and continue" />
                <p class="govuk-body">
                    <a class="govuk-link" asp-action="ManageOrganisations" asp-controller="Submission" asp-area="Submission">Cancel</a>
                </p>

            }
        </div>
        </div>
