@{
    Layout = "~/Views/GdsLayout.cshtml";
    Title = "Add your organisation's address";
}
@model AddAddressViewModel
@section BeforeMain {
    @if (!string.IsNullOrWhiteSpace(Model.AddressReturnAction))
    {
        <a href="@Url.Action(Model.AddressReturnAction)" class="govuk-back-link">Back</a>
    }
    else
    {
        <a href="@Url.Action("ChooseOrganisation")" class="govuk-back-link">Back</a>
    }
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate = "" }))
        {
            @Html.AntiForgeryToken()
            @await Html.GovUkValidationSummaryAsync()

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Your organisation’s address
                    </h1>
                </legend>

                <p class="govuk-body">Enter the correspondence address of the organisation you want to register.</p>

                <div class="govuk-form-group @Html.SetErrorClass(model => model.Address1, "govuk-form-group--error")">
                    <label asp-for="Address1">
                        Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
                    </label>
                    <span asp-validation-for="Address1" class="govuk-error-message"></span>
                    <input asp-for="Address1" class="govuk-input" autocomplete="address-line1" />
                </div>

                <div class="govuk-form-group @Html.SetErrorClass(model => model.Address2, "govuk-form-group--error")">
                    <label asp-for="Address2">
                        <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                    </label>
                    <span asp-validation-for="Address2" class="govuk-error-message"></span>
                    <input asp-for="Address2" class="govuk-input" autocomplete="address-line2" />
                </div>

                <div class="govuk-form-group @Html.SetErrorClass(model => model.City, "govuk-form-group--error")">
                    <label asp-for="City">
                        Town or city
                    </label>
                    <span asp-validation-for="City" class="govuk-error-message"></span>
                    <input asp-for="City" class="govuk-input govuk-!-width-two-thirds" autocomplete="address-level2" />
                </div>

                <div class="govuk-form-group @Html.SetErrorClass(model => model.County, "govuk-form-group--error")">
                    <label asp-for="County">
                        County
                    </label>
                    <span asp-validation-for="County" class="govuk-error-message"></span>
                    <input asp-for="County" class="govuk-input govuk-!-width-two-thirds" />
                </div>

                <div class="govuk-form-group @Html.SetErrorClass(model => model.Country, "govuk-form-group--error")">
                    <label asp-for="Country">
                        Country
                    </label>
                    <span asp-validation-for="Country" class="govuk-error-message"></span>
                    <input asp-for="Country" class="govuk-input govuk-!-width-two-thirds" autocomplete="country-name" />
                </div>

                <div class="govuk-form-group @Html.SetErrorClass(model => model.Postcode, "govuk-form-group--error")">
                    <label asp-for="Postcode">
                        Postcode or zip code
                    </label>
                    <span asp-validation-for="Postcode" class="govuk-error-message"></span>
                    <input asp-for="Postcode" class="govuk-input govuk-input--width-10" autocomplete="postal-code" />
                </div>
            </fieldset>

            <input class="govuk-button" type="submit" role="button" name="command" value="Continue" aria-label="Continue" />
        }
    </div>
</div>
