@{
    Layout = "~/Views/GdsLayout.cshtml";
    ViewBag.Title = "Confirm your organisation - Modern Slavery reporting service";
    var controller = ViewData["Controller"] as BaseController;
}
@model OrganisationViewModel
@if (controller.PendingFasttrackCodes == null)
{
    @section BeforeMain {
        @if (!string.IsNullOrWhiteSpace(Model.ConfirmReturnAction))
        {
            <a href="@Url.Action(Model.ConfirmReturnAction)" class="govuk-back-link">Back</a>
        }
        else
        {
            <a href="@Url.Action("ChooseOrganisation")" class="govuk-back-link">Back</a>
        }
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.SearchText)
            @Html.HiddenFor(m => m.SelectedOrganisationIndex)
            @Html.HiddenFor(m => m.CompanyNumber)
            @Html.HiddenFor(model => model.CharityNumber)
            @Html.HiddenFor(model => model.MutualNumber)
            @Html.HiddenFor(model => model.OtherName)
            @Html.HiddenFor(model => model.OtherValue)

            @Html.HiddenFor(m => m.SectorType)
            @Html.HiddenFor(model => model.RegistrationType)

            @Html.HiddenFor(model => model.NoReference)

            @Html.HiddenFor(model => model.BackAction)
            @Html.HiddenFor(model => model.AddressReturnAction)
            @Html.HiddenFor(model => model.ConfirmReturnAction)

            @Html.HiddenFor(model => model.OrganisationName)
            @Html.HiddenFor(model => model.NameSource)
            @Html.HiddenFor(model => model.AddressSource)
            @Html.HiddenFor(model => model.SicSource)
            @Html.HiddenFor(model => model.SicCodeIds)

            @Html.HiddenFor(model => model.Address1)
            @Html.HiddenFor(model => model.Address2)
            @Html.HiddenFor(model => model.Address3)
            @Html.HiddenFor(model => model.City)
            @Html.HiddenFor(model => model.County)
            @Html.HiddenFor(model => model.Country)
            @Html.HiddenFor(model => model.Postcode)
            @Html.HiddenFor(model => model.PoBox)
            @if (Model.IsUkAddress.HasValue)
            {
                @Html.HiddenFor(model => model.IsUkAddress)
            }

            @Html.HiddenFor(model => model.ContactFirstName)
            @Html.HiddenFor(model => model.ContactLastName)
            @Html.HiddenFor(model => model.ContactJobTitle)
            @Html.HiddenFor(model => model.ContactEmailAddress)
            @Html.HiddenFor(model => model.ContactPhoneNumber)

            @Html.HiddenFor(model => model.ManualAddress)
            @Html.HiddenFor(model => model.ManualOrganisationIndex)
            @Html.HiddenFor(model => model.MatchedReferenceCount)

            @Html.HiddenFor(model => model.ManualRegistration)
            @Html.HiddenFor(model => model.ManualAuthorised)
            @Html.HiddenFor(model => model.SelectedAuthorised)
            @Html.HiddenFor(model => model.IsFastTrackAuthorised)

            @await Html.GovUkValidationSummaryAsync()
            <h1 class="govuk-heading-l">
                Confirm your organisation’s details
            </h1>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">
                        </th>
                        <th scope="col" class="govuk-table__header">
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @if (Model.ManualRegistration)
                    {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            Organisation you’re reporting for
                        </th>
                        <td class="govuk-table__cell">                            
                        </td>
                    </tr>
                    }
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            Organisation name
                        </th>

                        <td class="govuk-table__cell">
                            @if (!string.IsNullOrWhiteSpace(ViewBag.LastOrg) && ViewBag.LastOrg != Model.OrganisationName)
                            {
                                <span style="color: red">@Model.OrganisationName</span>
                            }
                            else
                            {
                                <span>@Model.OrganisationName</span>
                            }
                        </td>
                    </tr>

                    @if (!string.IsNullOrWhiteSpace(Model.CompanyNumber))
                    {
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                Company number
                            </th>
                            <td class="govuk-table__cell">
                                @(Model.CompanyNumber)
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.CharityNumber))
                    {
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                Charity number
                            </th>
                            <td class="govuk-table__cell">
                                @(Model.CharityNumber)
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.MutualNumber))
                    {
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                Mutual partnership number
                            </th>
                            <td class="govuk-table__cell">
                                @(Model.MutualNumber)
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.OtherName))
                    {
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                @(Model.OtherName)
                            </th>
                            <td class="govuk-table__cell">
                                @(Model.OtherValue)
                            </td>
                        </tr>
                    }

                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            Registered address
                        </th>
                        <td class="govuk-table__cell">
                            @Model.GetFullAddress()
                        </td>
                    </tr>

                    @if (!string.IsNullOrWhiteSpace(Model.ContactFirstName) || !string.IsNullOrWhiteSpace(Model.ContactFirstName))
                    {
                <tr class="govuk-table__row ">
                    <th scope="row" class="govuk-table__header">
                        <br>Your contact details
                    </th>
                    <td class="govuk-table__cell">
                        <!-- Default Dynamic Section -->
                    </td>
                </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                Your name
                            </th>
                            <td class="govuk-table__cell">
                                <!-- Default Dynamic Section -->
                                @Model.ContactFirstName @Model.ContactLastName (@Model.ContactJobTitle)
                            </td>
                        </tr>

                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                Email
                            </th>
                            <td class="govuk-table__cell">
                                <!-- Default Dynamic Section -->
                                @Model.ContactEmailAddress
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                Telephone
                            </th>
                            <td class="govuk-table__cell">
                                <!-- Default Dynamic Section -->
                                @Model.ContactPhoneNumber
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @if (!Model.IsUkAddress.HasValue && !Model.ManualRegistration)
            {
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h2 class="govuk-fieldset__heading">
                                Is this a UK address?
                            </h2>
                        </legend>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                @Html.RadioButtonFor(model => model.IsUkAddress, "True", new { id = "IsUkAddress_True", @class = "govuk-radios__input" })
                                @Html.Label("IsUkAddress_True", "Yes", new { @class="govuk-label govuk-radios__label"})
                            </div>
                            <div class="govuk-radios__item">
                                @Html.RadioButtonFor(model => model.IsUkAddress, "False", new { id = "IsUkAddress_False", @class = "govuk-radios__input" })
                                @Html.Label("IsUkAddress_False", "No", new { @class = "govuk-label govuk-radios__label" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            }

          
                <p class="govuk-body">
                    <button type="submit" class="govuk-button" name="command" value="confirm">Confirm</button>
                </p>
                @if (controller.PendingFasttrackCodes != null)
                {
                    <p class="govuk-body">
                        <button type="submit" class="govuk-link" name="command" value="CancelFasttrack">Cancel</button>
                    </p>
                }
            
        }
        </div>
    </div>

      