@model RemoveOrganisationModel
@inject ModernSlavery.Core.Interfaces.IObfuscator Obfuscator
@{
    Layout = "~/Views/GdsLayout.cshtml";
    Title = "Confirm removal of organisation";

    var userId = Obfuscator.DeObfuscate(Model.EncUserId).ToInt64();
    var userRemovingSelf = Controller.CurrentUser.UserId == userId && Controller.IsImpersonatingUser == false;
    var userNamePostFix = userRemovingSelf ? "You" : "";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.EncOrganisationId)
            @Html.HiddenFor(m => m.EncUserId)
            @Html.HiddenFor(m => m.OrganisationName)
            @Html.HiddenFor(m => m.UserName)

            <h1 class="govuk-heading-l">
                Confirm removal of user
            </h1>
            <p class="govuk-body">Once the user has been removed, they will no longer be able to submit a modern slavery statement for this organisation.</p>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        User name
                    </dt>
                    <dd id="UserNameAnswer" class="govuk-summary-list__value">
                        @Model.UserName
                        @if (string.IsNullOrEmpty(userNamePostFix) == false)
                        {
                            <span>(@userNamePostFix)</span>
                        }
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Organisation name
                    </dt>
                    <dd id="OrgNameAnswer" class="govuk-summary-list__value">
                        @Model.OrganisationName
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Address
                    </dt>
                    <dd id="OrgAddressAnswer" class="govuk-summary-list__value">
                        @Html.Linebreak(Model.OrganisationAddress,", ",",")
                    </dd>
                </div>
            </dl>


            <button type="submit" class="govuk-button button-warning" name="id">Remove user</button>

            <p class="govuk-body">
                <a class="govuk-link" href="@(Url.ActionArea("ManageOrganisation", "Submission", "Submission", new {organisationIdentifier = Model.EncOrganisationId}))">Cancel</a>
            </p>


        }
    </div>
</div>
