@model FastTrackViewModel
@{
    Layout = "~/Views/GdsLayout.cshtml";
    ViewBag.Title = "Find your organisation - Modern Slavery reporting service";
}
@section BeforeMain {
    <a class="govuk-back-link"href="@Url.Action("OrganisationType")">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @(await Html.GovUkValidationSummaryAsync())

   
            <h1 class="govuk-heading-l">
                Fast track registration
            </h1>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-font-weight-regular">
                        Enter the organisation reference and security code provided in the letter we sent you.
                    </legend>

                    <div class="govuk-form-group @Html.SetErrorClass(model => model.OrganisationReference, "govuk-form-group--error")">
                        @Html.LabelFor(model => model.OrganisationReference, new { @class = "govuk-label" })
                        @Html.ValidationMessageFor(model => model.OrganisationReference, "", new { @class = "govuk-error-message" })
                        @Html.CustomEditorFor(model => model.OrganisationReference, new { @class = "govuk-input govuk-!-width-one-half" })
                    </div>

                    <div class="govuk-form-group @Html.SetErrorClass(model => model.SecurityCode, "govuk-form-group--error")">
                        @Html.LabelFor(model => model.SecurityCode, new { @class = "govuk-label" })
                        @Html.ValidationMessageFor(model => model.SecurityCode, "", new { @class = "govuk-error-message" })
                        @Html.CustomEditorFor(model => model.SecurityCode, new { @class = "govuk-input govuk-!-width-one-half" })
                    </div>

                </fieldset>
            </div>


            <input type="submit" class="govuk-button" value="Continue" />

            <p class="govuk-body">
                <a asp-action="ManageOrganisations" asp-controller="Submission" asp-area="Submission" class="govuk-link">Cancel</a>
            </p>
        }
    </div>
</div>