@model FastTrackViewModel
@{
    Layout = "~/Views/DfeTemplate.cshtml";
    ViewBag.Title = "Find your organisation - Modern Slavery reporting service";
}

<a id="BackLink" class="link-back" href="@Url.Action("OrganisationType")">Back <span class="visuallyhidden"> to the previous question</span></a>
<div id="grid-row">
    <div class="column-full">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @if (ViewContext.ModelState.ErrorCount > 0)
            {
                @await Html.PartialAsync("Patterns/ErrorSummary", ViewContext.ModelState)
            }

            <h1 class="heading-large">
                Fast track registration
            </h1>

            <div class="dynamic-content default-content">

                <p>
                    Enter the organisation reference and security code provided in the letter we sent you.
                </p>

                <div class="form-group @Html.SetErrorClass(model => model.OrganisationReference, "error")">
                    @Html.LabelFor(model => model.OrganisationReference, new { @class = "form-label" })
                    @Html.ValidationMessageFor(model => model.OrganisationReference, "", new { @class = "error-message" })
                    @Html.CustomEditorFor(model => model.OrganisationReference, new { @class = "form-control" })
                </div>

                <div class="form-group @Html.SetErrorClass(model => model.SecurityCode, "error")">
                    @Html.LabelFor(model => model.SecurityCode, new { @class = "form-label" })
                    @Html.ValidationMessageFor(model => model.SecurityCode, "", new { @class = "error-message" })
                    @Html.CustomEditorFor(model => model.SecurityCode, new { @class = "form-control" })
                </div>
            </div>

            <input type="submit" class="button" value="Continue" />

            <div>
                <a asp-action="ManageOrganisations" asp-controller="Submission" asp-area="Submission" style="display: inline-block; margin-top: 1em;">Cancel</a>
            </div>
        }
    </div>
</div>