@{
    Layout = "~/Views/GdsLayout.cshtml";
    Title = "PIN confirmation";
}
@model RequestPinViewModel
@inject IObfuscator Obfuscator
@await Html.PartialAsync("_ServiceInfo")
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate = "" }))
        {
            @Html.AntiForgeryToken()
            @await Html.GovUkValidationSummaryAsync();

            <h1 class="govuk-heading-l">
                Request a new PIN
            </h1>
            <p class="govuk-body">A PIN will be posted to the following name and address:</p>
            <p class="govuk-body">@Model.UserFullName (@Model.UserJobTitle),<br> @Model.OrganisationName, <br />@Html.Linebreak(Model.Address, Environment.NewLine, ",")</p>

            <button type="submit" class="govuk-button" name="command" value="Resend">Request a new pin</button>

            <p class="govuk-body">
                @Html.ActionLink("Cancel", "ActivateService", new { id = Obfuscator.Obfuscate(Model.OrganisationId), @class = "govuk-link" })
            </p>
        }
    </div>
    </div>

