@model SearchViewModel
@{
    Layout = "~/Views/GdsLayout.cshtml";
    ViewBag.Title = "Search modern slavery statements";
    ViewBag.SubTitle = "Organisation name or company number";

    var sectors = new FilterGroup
    {
        Id = "SectorFilter",
        Group = "s",
        Label = "Industry sector",
        Expanded = false,
        Metadata = Model.SectorOptions

    };
    var turnover = new FilterGroup
    {
        Id = "TurnoverFilter",
        Group = "t",
        Label = "Turnover or budget",
        Expanded = false,
        Metadata = Model.TurnoverOptions
    };
    var years = new FilterGroup
    {
        Id = "ReportingYearFilter",
        Group = "y",
        Label = "Statement year",
        Expanded = false,
        Metadata = Model.ReportingYearOptions
    };
    var filters = new List<FilterGroup> { sectors, turnover, years };
}
    <div class="govuk-grid-row search-landing">        
        <div class="govuk-grid-column-full">
            <div class="right">
                <a class="govuk-link download govuk-body govuk-!-font-size-19" href="@(Url.ActionArea("Download", "Viewing", "Viewing"))"><span>Download all statement summary data</span></a>
            </div>
            @using (Html.BeginForm("SearchResults", "Viewing", FormMethod.Get, new { id = "SearchForm", @class = "search-form" }))
            {
                <div class="govuk-grid-row finder">
                    <div class="govuk-grid-column-two-thirds">
                        <partial name="Parts/_SearchKeywords" model="Model" />
                    </div>
                </div>
                <div class="govuk-form-group">
                    <details class="govuk-details advanced-search-details" data-module="govuk-details">
                        <summary data-open="Fewer search options" data-close="Advanced search" class="govuk-details__summary">

                </summary>
                        <div class="govuk-details__text">
                            @foreach (var filter in filters)
                            {
                                <div id="checkboxes-@(filter.Id)" class="advanced-search-checkboxes govuk-form-group govuk-checkboxes--small" data-module="govuk-checkboxes">
                                    <fieldset class="govuk-fieldset">
                                        <span class="govuk-heading-s">
                                            @filter.Label
                                        </span>
                                        <ul class="govuk-checkboxes advanced-search-checkboxes__list @(filter.Id == "SectorFilter" ? "two-columns" : "")">
                                            @foreach (var item in filter.Metadata)
                                            {
                                                <li class="govuk-checkboxes__item">
                                                    <input type="checkbox" name="@(filter.Group)" id="@(item.Id)" value="@(item.Value)" checked="@(item.Checked)" class="govuk-checkboxes__input" />
                                                    <label for="@(item.Id)" class="govuk-label govuk-checkboxes__label">@item.Label</label>
                                                </li>
                                            }
                                        </ul>
                                    </fieldset>
                                </div>
                            }
                            <button class="govuk-button" data-module="govuk-button" name="search" type="submit">Search</button>

                        </div>
                
            </details>
            <a class="govuk-button govuk-button--secondary" href="@(Url.ActionArea("SearchResults", "Viewing", "Viewing"))">See all statements</a>
        
    </div>
            }
</div>
        </div>


