@model ModernSlavery.WebUI.Shared.Models.StatementSummaryViewModel
@inject ModernSlavery.Core.Classes.StatementTypeIndexes.RiskTypeIndex _riskTypeIndex
@inject ModernSlavery.Core.Classes.StatementTypeIndexes.DiligenceTypeIndex _diligenceTypeIndex
@{
    //Required for variables in Sitemap taghelpers
    var reportingPeriod = (Model.SubmissionDeadlineYear - 1) + "-" + Model.SubmissionDeadlineYear;

    Layout = "~/Views/GdsLayout.cshtml";
    ViewBag.Title = Model.OrganisationName + " Modern Slavery statement" + " / " + reportingPeriod;
    ViewBag.pageDescription = $"View {reportingPeriod} Modern Slavery statement for {Model.OrganisationName}";
    ViewBag.pageClass = "organisation-report-page";

}

@section BeforeMain {
    @* Model.BackUrl needs creating and setting *@
    <a class="govuk-back-link" href="">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @Model.OrganisationName modern slavery statement summary @(Model.SubmissionDeadlineYear - 1) to @Model.SubmissionDeadlineYear
        </h1>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Organisation address
                </span>
            </summary>
            <div class="govuk-details__text">
                @{ var address = Model.Address.GetAddressList(); }
                @for (var i = 0; i < address.Count; i++)
                {
                    if (i < address.Count - 1)
                    {
                        <text>@address[i],</text>
                        <br>
                    }
                    else // last element doesnt need a comma or line break
                    {
                        <text>@address[i]</text>
                    }
                }
            </div>
        </details>

        <p class="govuk-body govuk-!-font-size-24">
            Read a summary of this organisation’s modern slavery statement, or link to the full statement on the organisation’s website.
            The summary does not replace the full statement.
            @if (Model.GroupSubmission)
            {
                <text>This statement covers a
                    <a class="govuk-link"
                       asp-controller="Viewing" asp-action="StatementSummaryGroup"
                       asp-route-organisationIdentifier="@Model.ParentOrganisationId"
                       asp-route-year="@Model.SubmissionDeadlineYear">a group of organisations</a>.</text>
            }
        </p>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    What does the summary consist of?
                </span>
            </summary>
            <div class="govuk-details__text">
                We asked the organisation to answer a series of questions about their modern slavery statement.
                Their answers are published below as a statement summary.
                The questions are based on the areas that the Modern Slavery Act encourages organisations to cover in their modern slavery statement, setting out the steps they have taken to tackle modern slavery risks.
                All answers relate to the financial year covered by the statement.
                The organisation is responsible for the information it provided.
                GOV.UK does not verify the accuracy of this information.
            </div>
        </details>

    </div>
</div>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @{ var workingUrl = !string.IsNullOrWhiteSpace(Model.StatementUrl); }
        <div class="govuk-panel @(workingUrl ? "govuk-panel--blue" : "govuk-panel--grey")">
            <div class="govuk-panel__body govuk-!-font-size-16">
                <strong class="govuk-!-font-size-24">Link to full statement</strong>
                <br>
                @if (workingUrl)
                {
                    <a class="govuk-link govuk-!-font-size-16" href="@Model.StatementUrl" rel="noreferrer noopener">Go to full modern slavery statement on organisation’s website</a>
                }
                else
                {
                    <text>The URL linking to the statement on the organisation’s website is not working.</text>
                }
            </div>
        </div>
        @if (!workingUrl)
        {
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        What to do if the URL is not working
                    </span>
                </summary>
                <div class="govuk-details__text">
                    If the URL linking to the statement isn’t working, try again later – or go to the homepage of the organisation’s website and search for the statement from there.
                </div>
            </details>
        }

        <div class="contents govuk-!-margin-top-8">
            <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">Contents</p>
            <ul class="govuk-list govuk-list--hyphen govuk-!-font-size-16">
                <li><a class="govuk-link" href="#statement-period">Statement period and sign-off details</a></li>
                <li><a class="govuk-link" href="#areas-covered">Areas covered by statement</a></li>
                <li><a class="govuk-link" href="#sectors">Organisation sector(s) and turnover</a></li>
                <li><a class="govuk-link" href="#policies">Policies relating to modern slavery</a></li>
                <li><a class="govuk-link" href="#risks">Assessing modern slavery risks</a></li>
                <li><a class="govuk-link" href="#high-risks">Highest risks identified</a></li>
                <li><a class="govuk-link" href="#geographic-risks">Geographic risks</a></li>
                <li><a class="govuk-link" href="#monitoring">Monitoring working conditions</a></li>
                <li><a class="govuk-link" href="#indicators">Indicators and instances of modern slavery</a></li>
                <li><a class="govuk-link" href="#training">Training on modern slavery</a></li>
                <li><a class="govuk-link" href="#progress">Monitoring progress</a></li>
            </ul>
        </div>

        <div class="govuk-!-margin-top-8" id="statement-period">
            <h2 class="govuk-heading-m">
                Statement period and sign-off details
            </h2>
            @if (Model.StatementStartDate.HasValue && Model.StatementEndDate.HasValue)
            {
                <p class="govuk-body govuk-!-font-weight-bold">
                    The statement covers the following period:
                </p>

                <p class="govuk-body">
                    @Model.StatementStartDate.Value.ToString("d MMMM yyyy") to @Model.StatementEndDate.Value.ToString("d MMMM yyyy")
                </p>
            }
            else
            {
                <p class="govuk-body">
                    The organisation did not tell us which period the statement covers.
                </p>
            }

            @if (!string.IsNullOrWhiteSpace(Model.ApprovingPerson))
            {
                <p class="govuk-body govuk-!-font-weight-bold">
                    The name of the director (or equivalent) that signed off the statement is:
                </p>

                <p class="govuk-body">
                    @Model.ApprovingPerson
                </p>
            }
            else
            {
                <p class="govuk-body">
                    The organisation did not tell us name of the director (or equivalent) that signed off the statement.
                </p>
            }


            @if (Model.ApprovedDate.HasValue)
            {
                <p class="govuk-body govuk-!-font-weight-bold">
                    The statement was approved by the board or equivalent management body on:
                </p>

                <p class="govuk-body">
                    @Model.ApprovedDate.Value.ToString("d MMMM yyyy")
                </p>
            }
            else
            {
                <p class="govuk-body">
                    The organisation did not tell us the date the statement was approved by the board or equivalent management body.
                </p>
            }

        </div>

        <div class="govuk-!-margin-top-8" id="areas-covered">
            <h2 class="govuk-heading-m">
                Areas covered by statement
            </h2>

            <p class="govuk-body">
                Government guidance encourages organisations to cover a range of areas in their modern slavery statements.
            </p>

            @if (Model.HasAnyAreaCovered())
            {
                <p class="govuk-body govuk-!-font-weight-bold">
                    The statement covers the following recommended areas:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    @if (Model.IncludesStructure.HasValue && Model.IncludesStructure.Value)
                    {
                        <li>The organisation’s structure, business and supply chains</li>
                    }
                    @if (Model.IncludesPolicies.HasValue && Model.IncludesPolicies.Value)
                    {
                        <li>Policies</li>
                    }
                    @if (Model.IncludesRisks.HasValue && Model.IncludesRisks.Value)
                    {
                        <li>Risk assessment and management</li>
                    }
                    @if (Model.IncludesDueDiligence.HasValue && Model.IncludesDueDiligence.Value)
                    {
                        <li>Due diligence processes</li>
                    }
                    @if (Model.IncludesTraining.HasValue && Model.IncludesTraining.Value)
                    {
                        <li>Staff training about slavery and human trafficking</li>
                    }
                    @if (Model.IncludesGoals.HasValue && Model.IncludesGoals.Value)
                    {
                        <li>Goals and key performance indicators (KPIs) to measure progress over time, and the effectiveness of the organisation’s actions</li>
                    }
                </ul>

                <p class="govuk-body govuk-!-font-weight-bold">
                    The statement does not cover the following area(s):
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    @if (Model.IncludesStructure.HasValue && !Model.IncludesStructure.Value)
                    {
                        <li>The organisation’s structure, business and supply chains</li>
                    }
                    @if (Model.IncludesPolicies.HasValue && !Model.IncludesPolicies.Value)
                    {
                        <li>Policies</li>
                    }
                    @if (Model.IncludesRisks.HasValue && !Model.IncludesRisks.Value)
                    {
                        <li>Risk assessment and management</li>
                    }
                    @if (Model.IncludesDueDiligence.HasValue && !Model.IncludesDueDiligence.Value)
                    {
                        <li>Due diligence processes</li>
                    }
                    @if (Model.IncludesTraining.HasValue && !Model.IncludesTraining.Value)
                    {
                        <li>Staff training about slavery and human trafficking</li>
                    }
                    @if (Model.IncludesGoals.HasValue && !Model.IncludesGoals.Value)
                    {
                        <li>Goals and key performance indicators (KPIs) to measure progress over time, and the effectiveness of the organisation’s actions</li>
                    }
                </ul>
            }
            else
            {
                <p class="govuk-body">
                    The organisation did not tell us which areas the statement covered.
                </p>
            }
        </div>

        <div class="govuk-!-margin-top-8" id="sectors">
            <h2 class="govuk-heading-m">
                Organisation sector(s) and turnover
            </h2>

            @if (Model.Sectors.Any())
            {
                <p class="govuk-body govuk-!-font-weight-bold">
                    The organisation operates in:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    @foreach (var sector in Model.Sectors)
                    {
                        <li>@sector.Description</li>
                    }
                </ul>
            }
            else
            {
                <p class="govuk-body">
                    The organisation did not tell us which sector(s) it operates in.
                </p>
            }

            @if (Model.Turnover != null && Model.Turnover != StatementTurnovers.NotProvided)
            {
                <p class="govuk-body govuk-!-font-weight-bold">
                    Its turnover or budget in the financial accounting year of this statement was:
                </p>
                <p class="govuk-body">
                    @Model.Turnover.Value.EnumDisplayNameFor()
                </p>
            }
            else
            {
                <p class="govuk-body">
                    The organisation did not tell us what its turnover or budget was in the financial accounting year of this statement.
                </p>
            }

        </div>

        <div class="govuk-!-margin-top-8" id="policies">
            <h2 class="govuk-heading-m">
                Policies relating to modern slavery
            </h2>

            @if (Model.Policies.Any())
            {
                <div class="govuk-body govuk-!-font-weight-bold">
                    The organisation’s policies and codes during the period of this statement included the following provisions relating to modern slavery:
                </div>
                <ul class="govuk-list govuk-list--bullet">
                    @foreach (var policy in Model.Policies)
                    {
                        <li>@policy.Description</li>
                    }
                </ul>
            }
            else
            {
                <div class="govuk-body">
                    The organisation did not specify any policies or codes relating to modern slavery during the period of the statement.
                </div>
            }

        </div>

        <div class="govuk-!-margin-top-8" id="risks">
            <h2 class="govuk-heading-m">
                Assessing modern slavery risks
            </h2>

            @if (Model.RelevantRisks.Any())
            {
                <div class="govuk-body govuk-!-font-weight-bold">
                    The organisation told us it considered the following areas to be relevant when assessing its supply chain for modern slavery risks:
                </div>
                var relevantRiskGroups = Model.RelevantRisks
                    .GroupBy(r => r.ParentId)
                    .ToDictionary(g => g.Key, g => g.ToList());
                @foreach (var group in relevantRiskGroups)
                {
                    var parent = _riskTypeIndex.SingleOrDefault(i => i.Id == group.Key);
                    <div class="govuk-body">
                        @parent.Description
                    </div>
                    <ul class="govuk-list govuk-list--bullet">
                        @foreach (var risk in group.Value)
                        {
                            <li>@risk.Description</li>
                        }
                    </ul>
                }
                @if (!string.IsNullOrEmpty(Model.OtherRelevantRisks))
                {
                    <div class="govuk-body">
                        In addition, the organisation specified the following risk area:
                        <br>
                        @Model.OtherRelevantRisks
                    </div>
                }
            }
            else
            {
                <div class="govuk-body">
                    The organisation did not tell us which areas were relevant when assessing its supply chains for modern slavery risks.
                </div>
            }

        </div>

        <div class="govuk-!-margin-top-8" id="high-risks">
            <h2 class="govuk-heading-m">
                Highest risks identified
            </h2>

            @if (Model.HighRisks.Any())
            {
                <div class="govuk-body govuk-!-font-weight-bold">
                    The organisation told us it considered the following areas to be relevant when assessing its supply chain for modern slavery risks:
                </div>
                var highRiskGroups = Model.HighRisks
                    .GroupBy(hr => hr.ParentId)
                    .ToDictionary(g => g.Key, g => g.ToList());
                @foreach (var group in highRiskGroups)
                {
                    var parent = _riskTypeIndex.SingleOrDefault(i => i.Id == group.Key);
                    <div class="govuk-body">
                        @parent.Description
                    </div>
                    <ul class="govuk-list govuk-list--bullet">
                        @foreach (var highRisk in group.Value)
                        {
                            <li>@highRisk.Description</li>
                        }
                    </ul>
                }
                @if (!string.IsNullOrEmpty(Model.OtherHighRisks))
                {
                    <div class="govuk-body">
                        Other highest risk the organisation specified
                        <br>
                        @Model.OtherHighRisks
                    </div>
                }
            }
            else
            {
                <div class="govuk-body">
                    The organisation did not tell us where it identified the highest risks of modern slavery in its business and supply chains during the period of the statement.
                </div>
            }

        </div>

        <div class="govuk-!-margin-top-8" id="geographic-risks">
            <h2 class="govuk-heading-m">
                Geographic risks
            </h2>
            @if (Model.LocationRisks.Any())
            {
                <div class="govuk-body govuk-!-font-weight-bold">
                    During the period of the statement, the organisation considered the following geographic areas in its business and supply chains to be at highest risk of modern slavery:
                </div>
                var locationRiskGroups = Model.LocationRisks
                    .GroupBy(lr => lr.ParentId)
                    .ToDictionary(g => g.Key, g => g.ToList());
                @foreach (var group in locationRiskGroups)
                {
                    var parent = _riskTypeIndex.SingleOrDefault(i => i.Id == group.Key);
                    <div class="govuk-body">
                        @parent.Description
                    </div>
                    <ul class="govuk-list govuk-list--bullet">
                        @foreach (var locationRisk in group.Value)
                        {
                            <li>@locationRisk.Description</li>
                        }
                    </ul>
                }
            }
            else
            {
                <div class="govuk-body">
                    The organisation did not tell us which geographic areas in its business and supply chains it considered to be at highest risk of modern slavery during the period of the statement.
                </div>
            }

        </div>

        <div class="govuk-!-margin-top-8" id="monitoring">
            <h2 class="govuk-heading-m">
                Monitoring working conditions
            </h2>

            @if (Model.DueDiligences.Any())
            {
                <div class="govuk-body govuk-!-font-weight-bold">
                    The organisation used the following methods and processes to monitor working conditions in its business and supply chains during this period:
                </div>
                var diligenceGroups = Model.DueDiligences
                    .Select(d =>
                    {
                        var parent = _diligenceTypeIndex.SingleOrDefault(t => t.Id == d.ParentId);
                        return new { d.Id, d.Description, Category = parent.Description };
                    })
                    .GroupBy(hr => hr.Category)
                    .ToDictionary(g => g.Key, g => g.ToList());
                @foreach (var group in diligenceGroups)
                {
                    <div class="govuk-body">
                        @group.Key
                    </div>
                    <ul class="govuk-list govuk-list--bullet">
                        @foreach (var item in group.Value)
                        {
                            <li>@item.Description</li>
                        }
                    </ul>
                }
            }
            else
            {
                <div class="govuk-body">
                    The organisation did not tell us which methods and processes it used to monitor working conditions in its business and supply chains during this period.
                </div>
            }

        </div>

        <div class="govuk-!-margin-top-8" id="indicators">
            <h2 class="govuk-heading-m">
                Indicators and instances of modern slavery
            </h2>

            @if (!string.IsNullOrWhiteSpace(Model.ForcedLabourDetails))
            {
                <div class="govuk-body govuk-!-font-weight-bold">
                    The organisation identified the following potential indicators of forced labour or modern slavery in its business or supply chains during this period:
                </div>

                <div class="govuk-body">
                    @Model.ForcedLabourDetails
                </div>
            }
            else if (Model.ForcedLabourDetails == string.Empty)
            {
                <div class="govuk-body">
                    The organisation did not identify any potential indicators of forced labour or modern slavery in its business or supply chains during this period.
                </div>
            }
            else
            {
                <div class="govuk-body">
                    The organisation did not tell us whether it identified any potential indicators of forced labour or modern slavery in its business or supply chains during this period.
                </div>
            }

            @if (!string.IsNullOrWhiteSpace(Model.SlaveryInstanceDetails))
            {
                <div class="govuk-body govuk-!-font-weight-bold">
                    The organisation found 1 instance of modern slavery:
                </div>
                <div class="govuk-body">
                    @Model.SlaveryInstanceDetails
                </div>
                <div class="govuk-body govuk-!-font-weight-bold">
                    The organisation took the following remediation action in response:
                </div>
                <ul>
                    @foreach (var item in Model.RemediationTypes)
                    {
                        <li>@item</li>
                    }
                </ul>
            }
            else if (Model.SlaveryInstanceDetails == string.Empty)
            {
                <div class="govuk-body">
                    The organisation did not find any instances of modern slavery in its business or supply chains.
                </div>
            }
            else
            {
                <div class="govuk-body">
                    The organisation did not tell us whether it found instances of modern slavery in its business or supply chains.
                </div>
            }
        </div>

        <div class="govuk-!-margin-top-8" id="training">
            <h2 class="govuk-heading-m">
                Training on modern slavery
            </h2>
            @if (Model.Training.Any())
            {
                <div class="govuk-body govuk-!-font-weight-bold">
                    The organisation provided training on modern slavery to the following people:
                </div>

                <ul class="govuk-list govuk-list--bullet">
                    @foreach (var item in Model.Training)
                    {
                        <li>@item.Description</li>
                    }
                </ul>
            }
            else
            {
                <div class="govuk-body">
                    The organisation did not tell us whether it provided training on modern slavery during this period.
                </div>
            }
        </div>

        <div class="govuk-!-margin-top-8" id="progress">
            <h2 class="govuk-heading-m">
                Monitoring progress
            </h2>
            @if (Model.IncludesMeasuringProgress == true)
            {
                <div class="govuk-body govuk-!-font-weight-bold">
                    The organisation told us its statement for this period includes goals relating to how it would tackle modern slavery risks in its business and supply chains.
                </div>
            }
            else if (Model.IncludesMeasuringProgress == false)
            {
                <div class="govuk-body">
                    The organisation told us its statement for this period does not include goals relating to how it would tackle modern slavery risks in its business and supply chains.
                </div>
            }
            else
            {
                <div class="govuk-body">
                    The organisation did not tell us about its goals relating to how it would tackle modern slavery risks in its business and supply chains.
                </div>
            }

            @if (!string.IsNullOrWhiteSpace(Model.ProgressMeasures))
            {
                <div class="govuk-body govuk-!-font-weight-bold">
                    The organisation measured its progress towards these goals as follows:
                </div>

                <div class="govuk-body">
                    @Model.ProgressMeasures
                </div>
            }
            else
            {
                <div class="govuk-body">
                    The organisation did not provide any information on monitoring progress towards goals relating to modern slavery.
                </div>
            }

            @if (!string.IsNullOrWhiteSpace(Model.KeyAchievements))
            {
                <div class="govuk-body govuk-!-font-weight-bold">
                    We asked the organisation to tell us about its key achievements during this period in relation to preventing modern slavery. These were:
                </div>

                <div class="govuk-body">
                    @Model.KeyAchievements
                </div>
            }
            else
            {
                <div class="govuk-body">
                    The organisation did not tell us about its key achievements during this period in relation to preventing modern slavery.
                </div>
            }

            @if (Model.StatementYears != null && Model.StatementYears != StatementYears.NotProvided)
            {
                <div class="govuk-body govuk-!-font-weight-bold">
                    The organisation has been producing modern slavery statements for:
                </div>

                <div class="govuk-body">
                    @Model.StatementYears.Value.EnumDisplayNameFor()
                </div>
            }
            else
            {
                <div class="govuk-body">
                    The organisation did not tell us how long it has been producing modern slavery statements.
                </div>
            }
        </div>

    </div>
</div>
