@model List<StatementSummaryViewModel>
@{
    Layout = "~/Views/GdsLayout.cshtml";
    Title = "Organisations covered in group statement";
    var first = Model.First();
    var parentName = first.ParentName;
    var reportingYear = first.SubmissionDeadlineYear;
}

@section BeforeMain {
    <a class="govuk-back-link"
       asp-controller="Viewing" asp-action="StatementSummary"
       asp-route-organisationIdentifier="@first.ParentOrganisationId"
       asp-route-year="@reportingYear">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Organisations covered in @parentName group statement (@reportingYear)
        </h1>

        <div class="govuk-body govuk-!-font-size-24">
            Below are the organisations covered in
            <a asp-controller="Viewing" asp-action="StatementSummary"
               asp-route-organisationIdentifier="@first.ParentOrganisationId"
               asp-route-year="@reportingYear">@parentName statement (@reportingYear)</a>
        </div>

        <h2 class="govuk-heading-s app">Organisation</h2>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        @foreach (var item in Model)
        {
            <div class="govuk-!-margin-top-2">
                <p class="govuk-heading-s govuk-!-margin-bottom-1">@item.OrganisationName</p>
                <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">@item.Address.GetFullAddress()</p>
                @if (!string.IsNullOrWhiteSpace(item.CompanyNumber))
                {
                    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">Company number: @item.CompanyNumber</p>
                }
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </div>
        }
    </div>
</div>