@using System.ComponentModel.DataAnnotations
@model ModernSlavery.WebUI.Viewing.Models.StatementViewModel
@{
    //Required for variables in Sitemap taghelpers
    var reportingPeriod = (Model.SubmissionDeadline.Year - 1) + "-" + (Model.SubmissionDeadline.Year).ToTwoDigitYear();

    Layout = "~/Views/GdsLayout.cshtml";
    ViewBag.Title = Model.OrganisationName + " Modern Slavery statement" + " / " + reportingPeriod;
    ViewBag.pageDescription = $"View {reportingPeriod} Modern Slavery statement for {Model.OrganisationName}";
    ViewBag.pageClass = "organisation-report-page";

}

@section BeforeMain {
    @* Model.BackUrl needs creating and setting *@
    <a class="govuk-back-link" href="">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @Model.OrganisationName modern slavery statement summary @(Model.SubmissionDeadline.Year - 1) to @Model.SubmissionDeadline.Year
        </h1>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Organisation address
                </span>
            </summary>
            <div class="govuk-details__text">

            </div>
        </details>

        <p class="govuk-body govuk-!-font-size-24">
            Read a summary of this organisation’s modern slavery statement, or link to the full statement on the organisation’s website.
            The summary does not replace the full statement.
            @* Group orgs content *@
        </p>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    What does the summary consist of?
                </span>
            </summary>
            <div class="govuk-details__text">
                We asked the organisation to answer a series of questions about their modern slavery statement.
                Their answers are published below as a statement summary.
                The questions are based on the areas that the Modern Slavery Act encourages organisations to cover in their modern slavery statement, setting out the steps they have taken to tackle modern slavery risks.
                All answers relate to the financial year covered by the statement.
                The organisation is responsible for the information it provided.
                GOV.UK does not verify the accuracy of this information.
            </div>
        </details>

    </div>
</div>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--highlight">
            <div class="govuk-panel__body govuk-!-font-size-24">
                <strong>Link to full statement</strong>
                <br>
                <a class="govuk-link govuk-!-font-size-16" href="@Model.StatementUrl" rel="noreferrer noopener">Go to full modern slavery statement on organisation’s website</a>
            </div>
        </div>

        <ul>
            Contents
            <li><a class="govuk-link" href="#statement-period">Statement period and sign-off details</a></li>
            <li><a class="govuk-link" href="#areas-covered">Areas covered by statement</a></li>
        </ul>

        <h2 id="statement-period" class="govuk-heading-m">
            Statement period and sign-off details
        </h2>

        <p class="govuk-body govuk-!-font-weight-bold">
            The statement covers the following period:
        </p>

        <p class="govuk-body">
            @Model.StatementStartDate.ToString("d MMMM yyyy") to @Model.StatementEndDate.ToString("d MMMM yyyy")
        </p>

        <p class="govuk-body govuk-!-font-weight-bold">
            The name of the director (or equivalent) that signed off the statement is:
        </p>

        <p class="govuk-body">
            @Model.ApproverFirstName @Model.ApproverLastName, @Model.ApproverJobTitle
        </p>

        <p class="govuk-body govuk-!-font-weight-bold">
            The statement was approved by the board or equivalent management body on:
        </p>

        <p class="govuk-body">
            @Model.ApprovedDate.ToString("d MMMM yyyy")
        </p>

        <h2 id="areas-covered" class="govuk-heading-m">
            Areas covered by statement
        </h2>

        <p class="govuk-body">
            Government guidance encourages organisations to cover a range of areas in their modern slavery statements.
        </p>

        <p class="govuk-body govuk-!-font-weight-bold">
            The statement covers the following recommended areas:
        </p>

        <p class="govuk-body">
        </p>

        <p class="govuk-body govuk-!-font-weight-bold">
            The statement does not cover the following area(s):
        </p>

        <p class="govuk-body">
        </p>

    </div>
</div>
