@model Organisation
@{Layout = "~/Views/GdsLayout.cshtml";}
@{
    ViewBag.Title = $"Scope history - {Model.OrganisationName} - Administration - Modern Slavery Reporting service";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("Home", "Admin")
            },
            new CrumbViewModel
            {
                Text = Model.OrganisationName,
                Href = Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.OrganisationId})
            },
            new CrumbViewModel
            {
                Text = "Scope history"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<span class="govuk-caption-xl">Administration</span>
<h1 class="govuk-heading-xl">
    Scope history
    <br/>
    <span class="govuk-!-font-size-27">
        for @(Model.OrganisationName)
    </span>
</h1>

<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Year</th>
        <th scope="col" class="govuk-table__header">Scope</th>
        <th scope="col" class="govuk-table__header">Details</th>
        <th scope="col" class="govuk-table__header">Reason</th>
        <th scope="col" class="govuk-table__header">Changed on date</th>
        <th scope="col" class="govuk-table__header">Status</th>
        <th scope="col" class="govuk-table__header">Actions</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @{ var previousSnapshotDate = DateTime.MinValue; }
    @foreach (var scope in Model.OrganisationScopes.OrderByDescending(s => s.SubmissionDeadline).ThenByDescending(s => s.ScopeStatusDate))
    {
        <tr class="govuk-table__row">
            @if (scope.SubmissionDeadline == previousSnapshotDate)
            {
                    @* Omit this TD, a TD above has a rowspan that covers this row *@
            }
            else
            {
                <th scope="row" class="govuk-table__cell" rowspan="@(Model.OrganisationScopes.Count(s => s.SubmissionDeadline == scope.SubmissionDeadline))">
                    @(ReportingPeriodHelper.FormatReportingPeriod(scope.SubmissionDeadline.Year))
                </th>
            }
            <td class="govuk-table__cell">@(scope.ScopeStatus)</td>
            <td class="govuk-table__cell">@(scope.StatusDetails)</td>
            <td class="govuk-table__cell">@(scope.Reason)</td>
            <td class="govuk-table__cell">@(scope.ScopeStatusDate.ToString("d MMM yyyy"))</td>
            <td class="govuk-table__cell">@(scope.Status)</td>
            @if (scope.SubmissionDeadline == previousSnapshotDate)
            {
                    @* Omit this TD, a TD above has a rowspan that covers this row *@
            }
            else
            {
                <td class="govuk-table__cell" rowspan="@(Model.OrganisationScopes.Count(s => s.SubmissionDeadline == scope.SubmissionDeadline))">
                    <a href="@Url.Action("ChangeScopeGet", "AdminOrganisationScope", new {id = scope.OrganisationId, year = scope.SubmissionDeadline.Year})"
                       class="govuk-link">
                        Change <span class="govuk-visually-hidden"> scope for @(ReportingPeriodHelper.FormatReportingPeriod(scope.SubmissionDeadline.Year))</span>
                    </a>
                </td>
            }
        </tr>
        previousSnapshotDate = scope.SubmissionDeadline;
    }
    </tbody>
</table>