@{
    Layout = "/Views/GdsLayout.cshtml";
}
@model CompliancePageViewModel
<a class="govuk-back-link" href="@Model.BackUrl">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-column-two-thirds">
        @using (Html.BeginForm())
        {
        var controller = ViewData["Controller"] as BaseController;

        @await Html.CustomValidationSummaryAsync();
        @Html.AntiForgeryToken();
        @Html.HiddenFor(m => m.ContinueUrl);

        <h1 class="govuk-heading-l">
            @Model.PageTitle
        </h1>

        <h2 class="govuk-heading-m">
            Does your modern slavery statement cover the following areas in relation to slavery and human trafficking?
        </h2>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h2 class="govuk-heading-m">
                        Your organisation’s structure, business and supply chains
                    </h2>
                </legend>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input name="IncludesStructure" value="True" class="govuk-radios__input" id="IncludeStructure_True" type="radio" @(Model.IncludesStructure==true ? "checked" : "" )>
                        <label class="govuk-label govuk-radios__label">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input name="IncludesStructure" value="False" class="govuk-radios__input" id="include-structure-conditional" type="radio" @(Model.IncludesStructure==false ? "checked" : "" ) data-aria-controls="conditional-include-structure-conditional">
                        <label class="govuk-label govuk-radios__label" for="include-structure-conditional">
                            No
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-include-structure-conditional">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="include-structure-detail">
                                Please provide details
                            </label>
                            <textarea asp-for="StructureDetails" class="govuk-textarea govuk-!-width-two-thirds" rows="5" id="StructureDetails" type="text"> </textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h2 class="govuk-heading-m">
                        Policies
                    </h2>
                </legend>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input name="IncludesPolicies" value="True" class="govuk-radios__input" id="IncludesPolicies_True" type="radio" @(Model.IncludesPolicies==true ? "checked" : "" )>
                        <label class="govuk-label govuk-radios__label">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input name="IncludesPolicies" value="False" class="govuk-radios__input" id="include-policies-conditional" type="radio" @(Model.IncludesPolicies==false ? "checked" : "" ) data-aria-controls="conditional-include-policies-conditional">
                        <label class="govuk-label govuk-radios__label" for="include-policies-conditional">
                            No
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-include-policies-conditional">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="include-policies-detail">
                                Please provide details
                            </label>
                            <textarea asp-for="PolicyDetails" class="govuk-textarea govuk-!-width-two-thirds" rows="5" id="include-policies-detail" type="text"></textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h2 class="govuk-heading-m">
                        Risk assessment and management
                    </h2>
                </legend>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input name="IncludesRisks" value="True" class="govuk-radios__input" id="IncludesRisks_True" type="radio" @(Model.IncludesRisks==true ? "checked" : "" )>
                        <label class="govuk-label govuk-radios__label">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input name="IncludesRisks" value="False" class="govuk-radios__input" id="include-risks-conditional" type="radio" @(Model.IncludesRisks==false ? "checked" : "" ) data-aria-controls="conditional-include-risks-conditional">
                        <label class="govuk-label govuk-radios__label" for="include-risks-conditional">
                            No
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-include-risks-conditional">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="include-risks-detail">
                                Please provide details
                            </label>
                            <textarea asp-for="RisksDetails" class="govuk-textarea govuk-!-width-two-thirds" rows="5" id="include-risks-detail" type="text"></textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h2 class="govuk-heading-m">
                        Due diligence processes
                    </h2>
                </legend>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input name="IncludesDueDiligence" value="True" class="govuk-radios__input" id="IncludesDueDiligence_True" type="radio" @(Model.IncludesDueDiligence==true ? "checked" : "" )>
                        <label class="govuk-label govuk-radios__label">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input name="IncludesDueDiligence" value="False" class="govuk-radios__input" id="include-dueDiligence-conditional" type="radio" @(Model.IncludesDueDiligence==false ? "checked" : "" ) data-aria-controls="conditional-include-dueDiligence-conditional">
                        <label class="govuk-label govuk-radios__label" for="include-dueDiligence-conditional">
                            No
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-include-dueDiligence-conditional">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="include-dueDiligence-detail">
                                Please provide details
                            </label>
                            <textarea asp-for="DueDiligenceDetails" class="govuk-textarea govuk-!-width-two-thirds" rows="5" id="include-dueDiligence-detail" type="text"></textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h2 class="govuk-heading-m">
                        Staff training about slavery and human trafficking
                    </h2>
                </legend>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input name="IncludesTraining" value="True" class="govuk-radios__input" id="IncludesTraining_True" type="radio" @(Model.IncludesTraining==true ? "checked" : "" )>
                        <label class="govuk-label govuk-radios__label">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input name="IncludesTraining" value="False" class="govuk-radios__input" id="include-training-conditional" type="radio" @(Model.IncludesTraining==false ? "checked" : "" ) data-aria-controls="conditional-include-training-conditional">
                        <label class="govuk-label govuk-radios__label" for="include-training-conditional">
                            No
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-include-training-conditional">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="include-training-detail">
                                Please provide details
                            </label>
                            <textarea asp-for="TrainingDetails" class="govuk-textarea govuk-!-width-two-thirds" rows="5" id="include-training-detail" type="text"></textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h2 class="govuk-heading-m">
                        Goals and key performance indicators (KPIs) to measure your progress over time, and the effectiveness of your actions
                    </h2>
                </legend>

                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input name="IncludesGoals" value="True" class="govuk-radios__input" id="IncludesGoals_True" type="radio" @(Model.IncludesGoals==true ? "checked" : "" )>
                        <label class="govuk-label govuk-radios__label">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input name="IncludesGoals" value="False" class="govuk-radios__input" id="include-goals-conditional" type="radio" @(Model.IncludesGoals==false ? "checked" : "" ) data-aria-controls="conditional-include-goals-conditional">
                        <label class="govuk-label govuk-radios__label" for="include-goals-conditional">
                            No
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-include-goals-conditional">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="include-goals-detail">
                                Please provide details
                            </label>
                            <textarea asp-for="GoalsDetails" class="govuk-textarea govuk-!-width-two-thirds" rows="5" id="include-goals-detail" type="text"></textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button" type="submit">
            Continue
        </button>
        <a class="govuk-button govuk-button--secondary" href="@Model.CancelUrl">Cancel</a>
        }
    </div>
</div>
