@{
    Layout = "/Views/GdsLayout.cshtml";
}
@model ComplianceViewModel

@section BeforeMain {
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate=""}))
        {
            @await Html.GovUkValidationSummaryAsync();
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.Submitted);

            <h1 class="govuk-heading-l">
                @Model.PageTitle
            </h1>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading grey-details">
                            Your organisation’s structure, business and supply chains
                        </h2>
                    </legend>
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input asp-for="IncludesStructure" value="true" class="govuk-radios__input" id="IncludeStructure_True" type="radio">
                            <label class="govuk-label govuk-radios__label" for="IncludeStructure_True">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="IncludesStructure" value="false" class="govuk-radios__input" id="IncludeStructure_False" type="radio" data-aria-controls="conditional-include-structure-conditional">
                            <label class="govuk-label govuk-radios__label" for="IncludeStructure_False">
                                No
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-include-structure-conditional">
                            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                                <div class="govuk-form-group @Html.SetErrorClass(model => model.StructureDetails, "govuk-form-group--error")">
                                    <label class="govuk-label" for="include-structure-detail">
                                        Provide more details (optional)
                                    </label>
                                    <div id="include-structure-detail-hint" class="govuk-hint">
                                        For example, you’re working on this area for your next statement.
                                    </div>
                                    <textarea name="StructureDetails" class="govuk-textarea govuk-js-character-count" id="include-structure-detail" rows="5" aria-describedby="include-structure-detail-info include-structure-detail-hint">@(Model.StructureDetails)</textarea>
                                </div>
                                <div id="include-structure-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                    You can enter up to 200 characters
                                </div>
                                <span asp-validation-for="StructureDetails" class="govuk-error-message"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading grey-details">
                            Policies
                        </h2>
                    </legend>
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input asp-for="IncludesPolicies" value="true" class="govuk-radios__input" id="include-policies_True" type="radio">
                            <label class="govuk-label govuk-radios__label" for="include-policies_True">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="IncludesPolicies" value="false" class="govuk-radios__input" id="include-policies_False" type="radio" data-aria-controls="conditional-include-policies-conditional">
                            <label class="govuk-label govuk-radios__label" for="include-policies_False">
                                No
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-include-policies-conditional">
                            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                                <div class="govuk-form-group @Html.SetErrorClass(model => model.PolicyDetails, "govuk-form-group--error")">
                                    <label class="govuk-label" for="include-policies-detail">
                                        Provide more details (optional)
                                    </label>
                                    <div id="include-policies-detail-hint" class="govuk-hint">
                                        For example, you’re working on this area for your next statement.
                                    </div>
                                    <textarea name="PolicyDetails" class="govuk-textarea govuk-js-character-count" id="include-policies-detail" rows="5" aria-describedby="include-policies-detail-info include-policies-detail-hint">@(Model.PolicyDetails)</textarea>
                                </div>
                                <div id="include-policies-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                    You can enter up to 200 characters
                                </div>
                                <span asp-validation-for="PolicyDetails" class="govuk-error-message"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading grey-details">
                            Risk assessment
                        </h2>
                    </legend>
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input asp-for="IncludesRisks" value="true" class="govuk-radios__input" id="include-risks_True" type="radio">
                            <label class="govuk-label govuk-radios__label" for="include-risks_True">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="IncludesRisks" value="false" class="govuk-radios__input" id="include-risks_False" type="radio" data-aria-controls="conditional-include-risks-conditional">
                            <label class="govuk-label govuk-radios__label" for="include-risks_False">
                                No
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-include-risks-conditional">
                            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                                <div class="govuk-form-group @Html.SetErrorClass(model => model.RisksDetails, "govuk-form-group--error")">
                                    <label class="govuk-label" for="include-risks-detail">
                                        Provide more details (optional)
                                    </label>
                                    <div id="include-risks-detail-hint" class="govuk-hint">
                                        For example, you’re working on this area for your next statement.
                                    </div>
                                    <textarea name="RisksDetails" class="govuk-textarea govuk-js-character-count" id="include-risks-detail" rows="5" aria-describedby="include-risks-detail-info include-risks-detail-hint">@(Model.RisksDetails)</textarea>
                                </div>
                                <div id="include-risks-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                    You can enter up to 200 characters
                                </div>
                                <span asp-validation-for="RisksDetails" class="govuk-error-message"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading grey-details">
                            Due diligence (steps to address risk)
                        </h2>
                    </legend>
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input asp-for="IncludesDueDiligence" value="true" class="govuk-radios__input" id="include-methods_True" type="radio">
                            <label class="govuk-label govuk-radios__label" for="include-methods_True">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="IncludesDueDiligence" value="false" class="govuk-radios__input" id="include-methods_False" type="radio" data-aria-controls="conditional-include-dueDiligence-conditional">
                            <label class="govuk-label govuk-radios__label" for="include-methods_False">
                                No
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-include-dueDiligence-conditional">
                            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                                <div class="govuk-form-group @Html.SetErrorClass(model => model.DueDiligenceDetails, "govuk-form-group--error")">
                                    <label class="govuk-label" for="include-dueDiligence-detail">
                                        Provide more details (optional)
                                    </label>
                                    <div id="include-dueDiligence-detail-hint" class="govuk-hint">
                                        For example, you’re working on this area for your next statement.
                                    </div>
                                    <textarea name="DueDiligenceDetails" class="govuk-textarea govuk-js-character-count" id="include-dueDiligence-detail" rows="5" aria-describedby="include-dueDiligence-detail-info include-dueDiligence-detail-hint">@(Model.DueDiligenceDetails)</textarea>
                                </div>
                                <div id="include-dueDiligence-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                    You can enter up to 200 characters
                                </div>
                                <span asp-validation-for="DueDiligenceDetails" class="govuk-error-message"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading grey-details">
                            Staff training about modern slavery
                        </h2>
                    </legend>
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input asp-for="IncludesTraining" value="true" class="govuk-radios__input" id="include-training_True" type="radio">
                            <label class="govuk-label govuk-radios__label" for="include-training_True">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="IncludesTraining" value="false" class="govuk-radios__input" id="include-training_False" type="radio" data-aria-controls="conditional-include-training-conditional">
                            <label class="govuk-label govuk-radios__label" for="include-training_False">
                                No
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-include-training-conditional">
                            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                                <div class="govuk-form-group @Html.SetErrorClass(model => model.TrainingDetails, "govuk-form-group--error")">
                                    <label class="govuk-label" for="include-training-detail">
                                        Provide more details (optional)
                                    </label>
                                    <div id="include-training-detail-hint" class="govuk-hint">
                                        For example, you’re working on this area for your next statement.
                                    </div>
                                    <textarea name="TrainingDetails" class="govuk-textarea govuk-js-character-count" id="include-training-detail" rows="5" aria-describedby="include-training-detail-info include-training-detail-hint">@(Model.TrainingDetails)</textarea>
                                </div>
                                <div id="include-training-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                    You can enter up to 200 characters
                                </div>
                                <span asp-validation-for="TrainingDetails" class="govuk-error-message"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading grey-details">
                            Goals and key performance indicators (KPIs) to measure your progress over time, and the effectiveness of your actions
                        </h2>
                    </legend>

                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input asp-for="IncludesGoals" value="true" class="govuk-radios__input" id="include-effectiveness_True" type="radio">
                            <label class="govuk-label govuk-radios__label" for="include-effectiveness_True">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="IncludesGoals" value="false" class="govuk-radios__input" id="include-effectiveness_False" type="radio" data-aria-controls="conditional-include-effectiveness-conditional">
                            <label class="govuk-label govuk-radios__label" for="include-effectiveness_False">
                                No
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-include-effectiveness-conditional">
                            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                                <div class="govuk-form-group @Html.SetErrorClass(model => model.GoalsDetails, "govuk-form-group--error")">
                                    <label class="govuk-label" for="include-effectiveness-detail">
                                        Provide more details (optional)
                                    </label>
                                    <div id="include-effectiveness-detail-hint" class="govuk-hint">
                                        For example, you’re working on this area for your next statement.
                                    </div>
                                    <textarea name="GoalsDetails" class="govuk-textarea govuk-js-character-count" id="include-effectiveness-detail" rows="5" aria-describedby="include-effectiveness-detail-info include-effectiveness-detail-hint">@(Model.GoalsDetails)</textarea>
                                </div>
                                <div id="include-effectiveness-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                    You can enter up to 200 characters
                                </div>
                                <span asp-validation-for="GoalsDetails" class="govuk-error-message"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" type="submit" name="command" value="@BaseViewModel.CommandType.Continue">
                Save and continue
            </button>

            <div class="skip-link">
                <a class="govuk-link" href="@(Model.SkipUrl)">Skip this question</a>
            </div>
        }
    </div>
</div>
