@using ModernSlavery.WebUI.GDSDesignSystem.Attributes;
@{
    Layout = "/Views/GdsLayout.cshtml";
    var diligenceIndex = 0;
    var remediationIndex = 0;
}
@model DueDiligencePageViewModel
<a class="govuk-back-link" href="@Model.BackUrl">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm())
        {
            @await Html.CustomValidationSummaryAsync();
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.ReturnToReviewPage);
            @Html.HiddenFor(m => m.Submitted);

            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">@Model.SubTitle</span>
                @Model.PageTitle
            </h1>

            <h2 class="govuk-heading-m">
                What methods does your organisation use to monitor working conditions in your operations and supply chain?
            </h2>

            @*TODO: make into a partial view with checkbox counts*@

            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                @foreach (var parentType in Model.DiligenceTypes.Where(x => x.ParentId == null))
                {
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading">
                                    @parentType.Description
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                        @foreach (var childType in Model.DiligenceTypes.Where(t => t.ParentId == parentType.Id))
                                        {
                                            <div class="govuk-checkboxes__item">
                                                <input name="DueDiligences[@diligenceIndex].Id" value="@childType.Id" id="@($"DiligenceId{childType.Id}")" checked=@(Model.DueDiligences.Any(r => r.Id == childType.Id)) class="govuk-checkboxes__input" type="checkbox" data-aria-controls="conditional-conditional">
                                                <label class="govuk-label govuk-checkboxes__label" for="@($"DiligenceId{childType.Id}")">
                                                    @childType.Description
                                                </label>
                                            </div>
                                            @if (childType.Description.Contains("other type of social audit"))
                                            {
                                                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden @Html.SetErrorClass($"DueDiligences[{diligenceIndex}].Details", "govuk-form-group--error")" id="conditional-conditional">
                                                    <div class="govuk-form-group">
                                                        <label class="govuk-label" for="@($"DiligenceDetails{childType.Id}")">
                                                            Please specify other @parentType.Description
                                                        </label>
                                                        <input name="DueDiligences[@diligenceIndex].Details" id="@($"DiligenceDetails{childType.Id}")" value="@(Model.DueDiligences.FirstOrDefault(r => r.Id == childType.Id)?.Details)" class="govuk-input" type="text" maxlength="256">
                                                        @Html.ValidationMessage($"DueDiligences[{diligenceIndex}].Details", null, new { @class = "govuk-error-message" })
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <input name="DueDiligences[@diligenceIndex].Details" type="hidden">
                                            }
                                            { diligenceIndex++; }
                                        }
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            For the period of this statement, have you identified any potential indicators of forced labour or modern slavery in your operations or supply chain?
                        </h2>
                    </legend>
                    <div class="govuk-hint">
                        Examples include no formal identification, or who are always dropped off and collected in the same way, often late at night or early in the morning.
                    </div>
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input name="HasForceLabour" id="HasForceLabour_True" value="true" checked="@(Model.HasForceLabour==true)" class="govuk-radios__input" type="radio" data-aria-controls="conditional-has-forced-labour-conditional">
                            <label class="govuk-label govuk-radios__label" for="HasForceLabour_True">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden @Html.SetErrorClass(model => model.ForcedLabourDetails, "govuk-form-group--error")" id="conditional-has-forced-labour-conditional">
                            <div class="govuk-form-group">
                                <label class="govuk-label" asp-for="ForcedLabourDetails">
                                    Please provide detail
                                </label>
                                <textarea asp-for="ForcedLabourDetails" class="govuk-textarea govuk-!-width-two-thirds" rows="5" type="text" maxlength="512">@Model.ForcedLabourDetails</textarea>
                                <span asp-validation-for="ForcedLabourDetails" class="govuk-error-message"></span>
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input name="HasForceLabour" id="HasForceLabour_False" value="false" checked="@(Model.HasForceLabour==false)" class="govuk-radios__input" type="radio">
                            <label class="govuk-label govuk-radios__label" for="HasForceLabour_False">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Have you or anyone else found instances of modern slavery in your operations or supply chain in the last year?
                        </h2>
                    </legend>
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input name="HasSlaveryInstance" id="HasSlaveryInstance_True" checked="@(Model.HasSlaveryInstance==true)" value="true" class="govuk-radios__input" type="radio" data-aria-controls="conditional-has-slavery-instance-conditional">
                            <label class="govuk-label govuk-radios__label" for="HasSlaveryInstance_True">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden @Html.SetErrorClass(model => model.SlaveryInstanceDetails, "govuk-form-group--error")" id="conditional-has-slavery-instance-conditional">
                            <div class="govuk-form-group">
                                <label class="govuk-label" asp-for="SlaveryInstanceDetails">
                                    Please provide details
                                </label>
                                <textarea asp-for="SlaveryInstanceDetails" class="govuk-textarea" rows="5" type="text" maxlength="512">@Model.SlaveryInstanceDetails</textarea>
                                <span asp-validation-for="SlaveryInstanceDetails" class="govuk-error-message"></span>
                            </div>

                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h2 class="govuk-fieldset__heading">
                                    Did your organisation take any remediation actions in response?
                                </h2>
                            </legend>
                            <div class="@Html.SetErrorClass(model => model.HasRemediation, "govuk-form-group--error")">
                                <span asp-validation-for="HasRemediation" class="govuk-error-message"></span>
                                <div class="govuk-radios__item">
                                    <input name="HasRemediation" id="HasRemediation_True" value="true" checked="@(Model.HasRemediation==true)" class="govuk-radios__input" type="radio" data-aria-controls="conditional-has-remediation-conditional">
                                    <label class="govuk-label govuk-radios__label" for="HasRemediation_True">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-has-remediation-conditional">
                                    <div class="govuk-form-group">
                                        <fieldset class="govuk-fieldset">
                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                                <h2 class="govuk-fieldset__heading">
                                                    What remediation action did your organisation take in response?
                                                </h2>
                                            </legend>
                                            <div class="govuk-checkboxes @Html.SetErrorClass(model => model.SelectedRemediationTypes, "govuk-form-group--error")" data-module="govuk-checkboxes">
                                                <span asp-validation-for="SelectedRemediationTypes" class="govuk-error-message"></span>
                                                @foreach (var remediationType in Model.RemediationTypes)
                                                {
                                                    <div class="govuk-checkboxes__item">
                                                        <input name="SelectedRemediationTypes" checked=@(Model.SelectedRemediationTypes.Contains(remediationType)) value="@remediationType" class="govuk-checkboxes__input" type="checkbox" data-aria-controls="remediation-conditional@(remediationIndex)">
                                                        <label class="govuk-label govuk-checkboxes__label" for="remediation-conditional">
                                                            @remediationType
                                                        </label>
                                                    </div>
                                                    @if (remediationType.Equals("other"))
                                                    {
                                                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden @Html.SetErrorClass(model => model.OtherRemediation, "govuk-form-group--error")" id="remediation-conditional@(remediationIndex)">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label" for="other">
                                                                    Please specify
                                                                </label>
                                                                <input asp-for="OtherRemediation" class="govuk-input" maxlength="512">
                                                                <span asp-validation-for="OtherRemediation" class="govuk-error-message"></span>
                                                            </div>
                                                        </div>
                                                    }
                                                    { remediationIndex++; }
                                                }
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="govuk-radios__item">
                                    <input name="HasRemediation" id="HasRemediation_False" value="false" checked="@(Model.HasRemediation==false)" class="govuk-radios__input" type="radio">
                                    <label class="govuk-label govuk-radios__label" false="HasRemediation_False">
                                        No
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="govuk-radios__item ">
                            <input name="HasSlaveryInstance" value="false" id="HasSlaveryInstance_false" checked="@(Model.HasSlaveryInstance==false)" class="govuk-radios__input" type="radio">
                            <label class="govuk-label govuk-radios__label" for="HasSlaveryInstance_false">
                                No
                            </label>
                        </div>

                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button" type="submit" name="command" value="@BaseViewModel.CommandType.Continue">
                Continue
            </button>

            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" name="command" value="@BaseViewModel.CommandType.Cancel">
                Cancel
            </button>
        }
    </div>

</div>
