@{
    Layout = "/Views/GdsLayout.cshtml";
}
@model GroupSearchViewModel
@using ModernSlavery.Core.Interfaces;
@inject IObfuscator Obfuscator;
@section BeforeMain{
    @if (!string.IsNullOrWhiteSpace(Model.BackUrl))
    {
        <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
    }
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate = "" }))
{
    @await Html.GovUkValidationSummaryAsync();
    @Html.AntiForgeryToken();
    @Html.HiddenFor(m => m.Submitted);
    @Html.HiddenFor(m => m.OrganisationId);
    @Html.HiddenFor(m => m.SubmissionDeadline);


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                @Model.PageTitle
            </h1>
            <partial name="GroupSearch/_SearchHeader" model="Model" />

        </div>
    </div>

    <partial name="GroupSearch/_SearchKeywords" model="Model.SearchKeywords" />

    if (Model?.ResultsPage != null && !string.IsNullOrWhiteSpace(Model.SearchKeywords))
    {
        <partial name="GroupSearch/_SearchResults" model="Model" />
    }

    <a class="govuk-button" href="@(Model.StatementOrganisations.Count > 0 ? Model.ContinueUrl : Model.SkipUrl)">Save and continue</a>

}

