@{
    Layout = "/Views/GdsLayout.cshtml";
}
@model GroupReviewViewModel
@if (!string.IsNullOrWhiteSpace(Model.BackUrl))
{
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm())
        {
            @await Html.GovUkValidationSummaryAsync();
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.ReturnToReviewPage);
            @Html.HiddenFor(m => m.Submitted);
            @Html.HiddenFor(m => m.OrganisationName);
            @Html.HiddenFor(m => m.SubmissionDeadline);

            <h1 class="govuk-heading-l">
                @Model.PageTitle
            </h1>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h2 class="govuk-fieldset__heading">
                            for @(Model.OrganisationName) (@(Model.ReportingDeadlineYear-1) to @(Model.ReportingDeadlineYear))
                        </h2>
                    </legend>
                    <div class="govuk-hint">
                        You’ve told us your statement is for the following group of organisations. You can add more organisations to the group, or remove organisations, before confirming and continuing.
                    </div>
                    <div class="govuk-hint">
                        If your statement is for a single organisation, and not a group, you can return to the ‘Who is your statement for?’ page and <a class="govuk-link" href="@Model.GroupStatusUrl">specify a single organisation</a>.
                    </div>
                </fieldset>
            </div>

            @for (var organisationIndex = 0; organisationIndex < Model.StatementOrganisations.Count; organisationIndex++)
            {
                <div>
                    @(Model.StatementOrganisations[organisationIndex].OrganisationName)
                </div>

                <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" type="submit" name="removeIndex" value="@organisationIndex">
                    Remove
                </button>

            }

            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" type="submit" name="command" value="@BaseViewModel.CommandType.Continue">
                Confirm and Continue
            </button>

            <a href="@Model.GroupSearchUrl" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Select more organisations
            </a>

            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" name="command" value="@BaseViewModel.CommandType.Cancel">
                Cancel
            </button>
        }
    </div>
</div>
