@{
    Layout = "/Views/GdsLayout.cshtml";
    Title = Model.PageTitle;
}
@using ModernSlavery.Core.Interfaces;
@model GroupReviewViewModel;
@inject IObfuscator Obfuscator;
@section BeforeMain {
    @if (!string.IsNullOrWhiteSpace(Model.BackUrl))
    {
        <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
    }
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate = "" }))
        {
            @await Html.GovUkValidationSummaryAsync();
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.Submitted);

            <h1 class="govuk-heading-l">
                @Model.PageTitle
            </h1>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h2 class="govuk-fieldset__heading">
                            for @(Model.OrganisationName) (@Model.ReportingDeadlineYear)
                        </h2>
                    </legend>


                    <p class="govuk-body">
                        You’ve told us your statement is for the following group of organisations. You can add more organisations to the group, or remove organisations, before confirming and continuing.

                    </p>

                    <p class="govuk-body">
                        If your statement is for a single organisation, and not a group, you can return to the ‘Who is your statement for?’ page and <a class="govuk-link" href="@Url.Action(nameof(StatementController.GroupStatus), new {organisationIdentifier = Obfuscator.Obfuscate(Model.OrganisationId), year=Model.ReportingDeadlineYear })">specify a single organisation</a>.
                    </p>
                </fieldset>

                @if (Model.StatementOrganisations.Count >= 1 && Model.StatementOrganisations.Count <= 5)
                {
                    <partial name="GroupSearch/_ReviewList" model="Model" />
                }
                @if (Model.StatementOrganisations.Count > 5)
                {

                    <div class="govuk-accordion" data-module="govuk-accordion" id="organisation-accordion">
                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="organisation-accordion">
                                        Included in statement <span>(@(Model.StatementOrganisations.Count) organisations)</span>
                                    </span>
                                </h2>
                            </div>
                            <div id="organisation-accordion" class="govuk-accordion__section-content" aria-labelledby="organisation-accordion">
                                <partial name="GroupSearch/_ReviewList" model="Model" />
                            </div>
                        </div>
                    </div>
                }               
                <a class="govuk-button" href="@(Model.StatementOrganisations.Count > 0 ? Model.ContinueUrl : Model.SkipUrl)">Continue</a>

                <a href="@Url.Action(nameof(StatementController.GroupSearch), new {organisationIdentifier = Obfuscator.Obfuscate(Model.OrganisationId), year=Model.ReportingDeadlineYear })" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-5" data-module="govuk-button">
                    Select more organisations
                </a>

            </div>
        }
    </div>
</div>
