@{
    Layout = "/Views/GdsLayout.cshtml";
    Title = Model.PageTitle;
}
@model HighestRisksViewModel
@section BeforeMain {
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate = "" }))
        {
            @await Html.GovUkValidationSummaryAsync();
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.Submitted);

            <div class="govuk-form-group govuk-!-margin-bottom-7">
                <fieldset class="govuk-fieldset" aria-describedby="highest-risk-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-5">
                        <h1 class="govuk-fieldset__heading">
                            @Model.PageTitle
                        </h1>
                    </legend>

                    <p class="govuk-body govuk-!-margin-bottom-6">
                        Briefly describe up to 3 priority risks your organisation focused on during the period of the statement. You can provide more information on the following pages, including what you’re doing to manage each risk.
                    </p>

                    <h2 class="govuk-heading-m">
                        How to describe your risks
                    </h2>

                    <p class="govuk-body">
                        If possible, include details of the affected workers, the activity involved, and the location.
                    </p>

                    <p id="highest-risk-hint" class="govuk-hint govuk-!-margin-bottom-6">
                        For example, ‘Bangladeshi migrants manufacturing clothing in Mauritius’ or ‘Temporary construction workers building retail premises in the UK.’
                    </p>

                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                        <div class="govuk-form-group @Html.SetErrorClass(model => model.HighRisk1, "govuk-form-group--error")">
                            <label class="govuk-label govuk-!-font-weight-bold" for="high-risk-detail-1">
                                Risk
                            </label>
                            <textarea name="HighRisk1" class="govuk-textarea govuk-js-character-count" id="high-risk-detail-1" rows="5" aria-describedby="high-risk-detail-1-info">@(Model.HighRisk1)</textarea>
                        </div>
                        <div id="high-risk-detail-1-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                            You can enter up to 200 characters
                        </div>
                        <span asp-validation-for="HighRisk1" class="govuk-error-message"></span>
                    </div>

                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                        <div class="govuk-form-group @Html.SetErrorClass(model => model.HighRisk2, "govuk-form-group--error")">
                            <label class="govuk-label govuk-!-font-weight-bold" for="high-risk-detail-2">
                                Risk
                            </label>
                            <textarea name="HighRisk2" class="govuk-textarea govuk-js-character-count" id="high-risk-detail-2" rows="5" aria-describedby="high-risk-detail-2-info">@(Model.HighRisk2)</textarea>
                        </div>
                        <div id="high-risk-detail-2-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                            You can enter up to 200 characters
                        </div>
                        <span asp-validation-for="HighRisk2" class="govuk-error-message"></span>
                    </div>

                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                        <div class="govuk-form-group @Html.SetErrorClass(model => model.HighRisk3, "govuk-form-group--error")">
                            <label class="govuk-label govuk-!-font-weight-bold" for="high-risk-detail-3">
                                Risk
                            </label>
                            <textarea name="HighRisk3" class="govuk-textarea govuk-js-character-count" id="high-risk-detail-3" rows="5" aria-describedby="high-risk-detail-3-info">@(Model.HighRisk3)</textarea>
                        </div>
                        <div id="high-risk-detail-3-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                            You can enter up to 200 characters
                        </div>
                        <span asp-validation-for="HighRisk3" class="govuk-error-message"></span>
                    </div>

                    <div class="govuk-!-margin-bottom-4">
                        or
                    </div>

                    <div class="govuk-form-group @Html.SetErrorClass(model => model.NoRisks, "govuk-form-group--error")">
                        <div class="govuk-checkboxes__item">
                            <input asp-for="NoRisks" class="govuk-checkboxes__input" />
                            <label asp-for="NoRisks" class="govuk-label govuk-checkboxes__label govuk-!-padding-top-0">
                                My organisation did not identify any modern slavery risks in its operations or supply chains during the period of the statement
                            </label>
                        </div>
                    </div>
                    <span asp-validation-for="NoRisks" class="govuk-error-message"></span>

                </fieldset>
            </div>

            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" type="submit" name="command" value="@BaseStatementViewModel.CommandType.Continue">
                Save and continue
            </button>

            <div class="skip-link">
                <a class="govuk-link " href="@(Model.SkipUrl)">Skip this question</a>
            </div>
        }
    </div>

</div>
