@{
    Layout = "/Views/GdsLayout.cshtml";
}
@model HighRiskViewModel
@using ModernSlavery.Core.Entities.StatementSummary;
@using static ModernSlavery.Core.Entities.StatementSummary.IStatementSummary1;
@using static ModernSlavery.Core.Entities.StatementSummary.IStatementSummary1.StatementRisk;
@section BeforeMain {
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate = "" }))
        {
            @await Html.GovUkValidationSummaryAsync();
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.Submitted);

            <h1 class="govuk-heading-l">
                @Model.PageTitle
            </h1>
            <div class="govuk-details__text">
                @Model.Risk.Description
                <a href="@Model.BackUrl">Edit</a>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Where was the risk you described most likely to occur?
                        </h2>
                    </legend>
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        @foreach (var item in Enums.GetValuesExcept<RiskSourceTypes>(RiskSourceTypes.Unknown))
                        {
                            var value = (int)item;
                            var isOther = item == RiskSourceTypes.Other;
                            var isSupplyChain = item == RiskSourceTypes.SupplyChains;

                            <div class="govuk-radios__item">
                                <input name="RiskType" class="govuk-radios__input" id="source-@value" type="radio" data-aria-controls="@(isOther || isSupplyChain ? $"conditional-source-{value}" : "")">
                                <label class="govuk-label govuk-radios__label" for="source-@value">
                                    @item.GetEnumDescription()
                                </label>
                            </div>

                            if (isSupplyChain)
                            {
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-source-@value">
                                    <span id="supply-chains-hint" class="govuk-hint">
                                        Select all that apply
                                    </span>

                                    <div class="govuk-checkboxes">
                                        @foreach (var tier in Enums.GetValuesExcept<SupplyChainTierTypes>(SupplyChainTierTypes.Unknown))
                                        {
                                            var tierValue = (int)tier;
                                            if (tier == SupplyChainTierTypes.None)
                                            {
                                                <div>
                                                    or
                                                </div>
                                            }
                                            <div class="govuk-checkboxes__item">
                                                <input name="SupplyChainTiers" class="govuk-checkboxes__input" id="tier-@tierValue" type="checkbox" checked="@(Model.SupplyChainTiers.Contains(tier))">
                                                <label class="govuk-label govuk-checkboxes__label" for="tier-@tierValue">
                                                    @tier.GetEnumDescription()
                                                </label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }

                            if (isOther)
                            {
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-source-@value">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="OtherLikelySource">
                                            Please specify
                                        </label>
                                        <textarea class="govuk-textarea" id="OtherLikelySource" spellcheck="false" rows="5">@Model.Risk.OtherLikelySource</textarea>
                                        <span asp-validation-for="Risk.OtherLikelySource" class="govuk-error-message"></span>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Who was most likely to be affected?
                        </h2>
                    </legend>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        @foreach (var targetType in Enums.GetValuesExcept<RiskTargetTypes>(RiskTargetTypes.Unknown))
                        {
                            <div class="govuk-checkboxes__item">
                                <input name="Targets" value="@((int)targetType)" id="@($"target{(int)targetType}")" checked=@(Model.Risk.Targets.Contains(targetType)) class="govuk-checkboxes__input" type="checkbox" data-aria-controls="targets-conditional-@((int)targetType)">
                                <label class="govuk-label govuk-checkboxes__label" for="@($"target{(int)targetType}")">
                                    @targetType.GetEnumDescription()
                                </label>
                            </div>
                            @if (targetType == RiskTargetTypes.Other)
                            {
                                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden @Html.SetErrorClass(model => model.Risk.OtherTargets, "govuk-form-group--error")" id="targets-conditional-@((int)targetType)">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="OtherTargets">
                                            Please specify
                                        </label>
                                        <input asp-for="Risk.OtherTargets" class="govuk-input" spellcheck="false">
                                        <span asp-validation-for="Risk.OtherTargets" class="govuk-error-message"></span>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            In which country?
                        </h2>
                    </legend>
                    @* TODO - countries are multiple inputs, but what pattern will it follow *@
                </fieldset>
            </div>

            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" type="submit" name="command" value="@BaseViewModel.CommandType.Continue">
                Save and continue
            </button>

            @if (Model.GetStatus() == BaseViewModel.Status.Incomplete)
            {
                <div class="skip-link">
                    <a class="govuk-link" href="@(Model.SkipUrl)">Skip this question</a>
                </div>
            }
        }
    </div>

</div>
