@using ModernSlavery.WebUI.GDSDesignSystem.Attributes
@{
    Layout = "/Views/GdsLayout.cshtml";
}
@model MonitoringProgressPageViewModel
<a class="govuk-back-link" href="@Model.BackUrl">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm())
        {
            @await Html.CustomValidationSummaryAsync();
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.ReturnToReviewPage);

            <h1 class="govuk-heading-l">
                @Model.PageTitle
            </h1>

            <div class="govuk-form-group">
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <label asp-for="IncludesMeasuringProgress" class="govuk-label govuk-label--m">
                        Does you modern slavery statement include goals relating to how you will prevent modern slavery in your operations and supply chains?
                    </label>
                    <div class="govuk-radios__item">
                        <input asp-for="IncludesMeasuringProgress" value="true" id="IncludeGoals_True" checked="@(Model.IncludesMeasuringProgress==true)" class="govuk-radios__input" type="radio">
                        <label class="govuk-label govuk-radios__label" asp-for="IncludesMeasuringProgress">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input asp-for="IncludesMeasuringProgress" value="false" id="IncludeGoals_False" checked="@(Model.IncludesMeasuringProgress==false)" class="govuk-radios__input" type="radio" data-aria-controls="conditional-include-goals-conditional">
                        <label class="govuk-label govuk-radios__label" for="IncludeGoals_False">
                            No
                        </label>
                    </div>
                </div>
            </div>

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label asp-for="ProgressMeasures" class="govuk-label govuk-label--m" for="include-goals-detail">
                        How is your organisation measuring progress towards these goals?
                    </label>
                </h1>
                <textarea asp-for="ProgressMeasures" id="include-goals-detail" class="govuk-textarea " rows="5" type="text" maxlength="1024">@Model.ProgressMeasures</textarea>
            </div>

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label asp-for="KeyAchievements" class="govuk-label govuk-label--m" for="key-achievements">
                        What were your key achievements in relation to reducing modern slavery during the period covered by this statement?
                    </label>
                </h1>
                <textarea asp-for="KeyAchievements" class="govuk-textarea" id="more-detail" rows="5">@Model.KeyAchievements</textarea>
            </div>

            <fieldset class="govuk-fieldset govuk-!-margin-top-6" describedby="GovUk_StatementYears-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    How many years has your organisation been producing modern slavery statements?
                </legend>
                <div class="govuk-form-group ">
                    <span class="govuk-hint" id="GovUk_StatementYears-hint">
                        If your statement is for a group of organisations, please select the answer that applies to the organisation with the longest history of producing statements.
                    </span>
                    <div class="govuk-radios">
                        @foreach (MonitoringProgressPageViewModel.YearRanges item in (Enum.GetValues(typeof(MonitoringProgressPageViewModel.YearRanges)).Cast<MonitoringProgressPageViewModel.YearRanges>().Where(x => x != MonitoringProgressPageViewModel.YearRanges.NotProvided)))
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="StatementYears-@(item)" name="StatementYears" checked="@(Model.StatementYears==item)" type="radio" value="@(item)">
                                <label class="govuk-label govuk-radios__label" for="StatementYears-@(item)">
                                    @(item.GetAttribute<GovUkRadioCheckboxLabelTextAttribute>()?.Text)
                                </label>
                            </div>
                        }
                    </div>

                </div>
            </fieldset>

            <button class="govuk-button" data-module="govuk-button" type="submit" name="command" value="@BaseViewModel.CommandType.Continue">
                Continue
            </button>

            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" name="command" value="@BaseViewModel.CommandType.Cancel">
                Cancel
            </button>
        }
    </div>
</div>
