@using ModernSlavery.WebUI.GDSDesignSystem.Attributes
@{
    Layout = "/Views/GdsLayout.cshtml";
}
@model MonitoringViewModel

@section BeforeMain {
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate = "" }))
        {
            @await Html.GovUkValidationSummaryAsync();
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.Submitted);

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            @Model.PageTitle
                        </h1>
                    </legend>

                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                        <div class="govuk-form-group @Html.SetErrorClass(model => model.OtherWorkConditionsMonitoring, "govuk-form-group--error")">
                            <label for="other-work-conditions-monitoring" class="govuk-label">
                                Tell us briefly what you did
                            </label>
                            <textarea name="OtherWorkConditionsMonitoring" id="other-work-conditions-monitoring" class="govuk-textarea govuk-js-character-count" rows="5" aria-describedby="other-work-conditions-monitoring-info">@(Model.OtherWorkConditionsMonitoring)</textarea>
                        </div>
                        <div id="other-work-conditions-monitoring-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                            You can enter up to 200 characters
                        </div>
                        <span asp-validation-for="OtherWorkConditionsMonitoring" class="govuk-error-message"></span>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" type="submit" name="command" value="@BaseStatementViewModel.CommandType.Continue">
                Save and continue
            </button>

            <div class="skip-link">
                <a class="govuk-link" href="@(Model.SkipUrl)">Skip this question</a>
            </div>
        }
    </div>
</div>
