@{
    Layout = "/Views/GdsLayout.cshtml";
    Title = Model.PageTitle;
}
@model PartnersViewModel
@using static ModernSlavery.Core.Entities.StatementSummary.V1.StatementSummary;
@section BeforeMain {
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate = "" }))
        {
            @await Html.GovUkValidationSummaryAsync();
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.Submitted);

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="conditions-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-5">
                        <h1 class="govuk-fieldset__heading">
                            @Model.PageTitle
                        </h1>
                    </legend>

                    <div id="conditions-hint" class="govuk-hint">
                        Select all that apply
                    </div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        @foreach (var partnerType in Enums.GetValues<PartnerTypes>(PartnerTypes.Unknown))
                        {
                            var value = (int)partnerType;
                            var isNone = partnerType == PartnerTypes.None;

                            if (isNone)
                            {
                                <div class="govuk-!-margin-bottom-2">
                                    or
                                </div>
                            }

                            <div class="govuk-checkboxes__item">
                                <input name="Partners" value="@value" id="@($"partner{value}")" checked=@(Model.Partners.Contains(partnerType)) class="govuk-checkboxes__input" type="checkbox" data-mutually-exclusive-group="@isNone.ToString()" @*data-aria-controls="partners-conditional-@value"*@>
                                <label class="govuk-label govuk-checkboxes__label" for="@($"partner{value}")">
                                    @partnerType.GetEnumDescription()
                                </label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" type="submit" name="command" value="@BaseStatementViewModel.CommandType.Continue">
                Save and continue
            </button>

            <div class="skip-link">
                <a class="govuk-link" href="@(Model.SkipUrl)">Skip this question</a>
            </div>
        }
    </div>

</div>
