@{
    Layout = "/Views/GdsLayout.cshtml";
    Title = Model.PageTitle;
}
@model PeriodCoveredViewModel

@section BeforeMain {
    @if (!string.IsNullOrWhiteSpace(Model.BackUrl))
    {
        <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
    }
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate = "" }))
        {
            @await Html.GovUkValidationSummaryAsync();
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.Submitted);
            @Html.HiddenFor(m => m.SubmissionDeadline);
         
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="reporting-start-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        @Model.PageTitle
                    </h1>
                </legend>
                <div id="reporting-start-hint" class="govuk-hint">
                    For example, 31 3 1980
                </div>
                <div class="app-date-range__container @Html.SetErrorClass(new[] {nameof(Model.StatementStartDate),nameof(Model.StatementStartDay),nameof(Model.StatementStartMonth),nameof(Model.StatementStartYear),nameof(Model.StatementEndDay),nameof(Model.StatementEndMonth),nameof(Model.StatementEndYear)}, "govuk-form-group--error")">
                    <div class="app-date-range__child">
                        <div class="govuk-date-input" id="reporting-start">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="StatementStartDay">
                                        Day
                                    </label>
                                    <input asp-for="StatementStartDay" class="govuk-input govuk-date-input__input govuk-input--width-2" inputmode="number">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="StatementStartMonth">
                                        Month
                                    </label>
                                    <input asp-for="StatementStartMonth" class="govuk-input govuk-date-input__input govuk-input--width-2" inputmode="number">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="StatementStartYear">
                                        Year
                                    </label>
                                    <input asp-for="StatementStartYear" class="govuk-input govuk-date-input__input govuk-input--width-3" inputmode="number">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="app-date-range__child">
                        <p class="govuk-body">to</p>
                    </div>
                    <span class="mobile-errors">
                        <span asp-validation-for="StatementStartDay" class="govuk-error-message"></span>
                        <span asp-validation-for="StatementStartMonth" class="govuk-error-message"></span>
                        <span asp-validation-for="StatementStartYear" class="govuk-error-message"></span>
                    </span>
                    <div class="app-date-range__child">
                        <div class="govuk-date-input" id="reporting-end">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="StatementEndDay">
                                        Day
                                    </label>
                                    <input asp-for="StatementEndDay" class="govuk-input govuk-date-input__input govuk-input--width-2" inputmode="number">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="StatementEndMonth">
                                        Month
                                    </label>
                                    <input asp-for="StatementEndMonth" class="govuk-input govuk-date-input__input govuk-input--width-2" inputmode="number">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="StatementEndYear">
                                        Year
                                    </label>
                                    <input asp-for="StatementEndYear" class="govuk-input govuk-date-input__input govuk-input--width-3" inputmode="number">
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="mobile-errors">
                        <span asp-validation-for="StatementEndDay" class="govuk-error-message"></span>
                        <span asp-validation-for="StatementEndMonth" class="govuk-error-message"></span>
                        <span asp-validation-for="StatementEndYear" class="govuk-error-message"></span>
                    </span>

                    <span class="desktop-errors">
                        <span asp-validation-for="StatementStartDay" class="govuk-error-message"></span>
                        <span asp-validation-for="StatementStartMonth" class="govuk-error-message"></span>
                        <span asp-validation-for="StatementStartYear" class="govuk-error-message"></span>
                        <span asp-validation-for="StatementEndDay" class="govuk-error-message"></span>
                        <span asp-validation-for="StatementEndMonth" class="govuk-error-message"></span>
                        <span asp-validation-for="StatementEndYear" class="govuk-error-message"></span>
                    </span>
                    <span asp-validation-for="StatementStartDate" class="govuk-error-message"></span>
                    <span asp-validation-for="StatementEndDate" class="govuk-error-message"></span>
                </div>               
            </fieldset>
        </div>

            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" type="submit" name="command" value="@BaseStatementViewModel.CommandType.Continue">
                Save and continue
            </button>

            <div class="skip-link">
                <a class="govuk-link" href="@(Model.SkipUrl)">Skip this question</a>
            </div>
        }
    </div>
</div>
