@{
    Layout = "/Views/GdsLayout.cshtml";
}
@model PoliciesPageViewModel

<a class="govuk-back-link" href="@Model.BackUrl">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-column-two-thirds">
        @using (Html.BeginForm())
        {
            var controller = ViewData["Controller"] as BaseController;

            @await Html.CustomValidationSummaryAsync();
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.ContinueUrl);

            @(Html.GovUkErrorSummary(new[]
                {
                    nameof(PoliciesPageViewModel.Policies)
                }))

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="organisation-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-l">
                            Policies
                        </h1>
                        <h2 class="govuk-heading-m">
                            Do your organisation`s modern slavery policies or codes include any of the following provisions? (select all that apply)
                        </h2>
                    </legend>
                    <span id="organisation-hint" class="govuk-hint">
                        select all that apply
                    </span>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        @foreach (var item in Model.Policies)
                        {
                            <div class="govuk-checkboxes__item">
                                <input asp-for="@item.IsSelected" class="govuk-checkboxes__input" id="policies-conditional" type="checkbox" data-aria-controls="policies-conditional">
                                <label class="govuk-label govuk-checkboxes__label" for="policies-conditional">
                                    @item.Description
                                </label>
                            </div>
                            @if (item.Description.Contains("Other"))
                            {
                                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="policies-conditional">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="other">
                                            Please provide detail
                                        </label>
                                        <input asp-for="OtherPolicies" class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="other" type="email" spellcheck="false">
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </fieldset>
            </div>




            @*var organisationPolicyOptions =
                                        new Dictionary<StatementPolicies, Func<object, object>>
                                        {
                                   {
                                     StatementPolicies.Other,
            @<text>
                @(Html.GovUkTextInputFor(model => model.OtherPolicies))
                @(Html.LabelFor(model => model.OtherPolicies, new { @class = "govuk-label" }))
            </text>
                                    }
                                                      };


                            @(Html.GovUkCheckboxesFor(
                            model => model.PoliciesEnums,
                            new FieldsetViewModel
                            {
                                Legend = new LegendViewModel
                                {
                                    Classes = "govuk-fieldset__legend--m"
                                },
                                Classes = "govuk-!-margin-top-6"
                            },
                            new HintViewModel
                            {
                                Text = "Select all that apply."
                            },
                            organisationPolicyOptions
                       ));*@


            <button class="govuk-button" data-module="govuk-button" type="submit">
                Continue
            </button>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit">
                Cancel
            </button>
        }

    </div>

</div>
