@{
    Layout = "/Views/GdsLayout.cshtml";
    var yourStatementComplete = Model.YourStatement.IsComplete(serviceProvider);
    var complianceComplete = Model.Compliance.IsComplete(serviceProvider);
    var organisationComplete = Model.Organisation.IsComplete(serviceProvider);
    var policiesComplete = Model.Policies.IsComplete(serviceProvider);
    var risksComplete = Model.Risks.IsComplete(serviceProvider);
    var diligenceComplete = Model.DueDiligence.IsComplete(serviceProvider);
    var trainingComplete = Model.Training.IsComplete(serviceProvider);
    var progressComplete = Model.Progress.IsComplete(serviceProvider);

}
@model ReviewPageViewModel
@inject IServiceProvider serviceProvider;
<a class="govuk-back-link" href="@Model.BackUrl">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-column-two-thirds">
        @using (Html.BeginForm())
        {
            @await Html.CustomValidationSummaryAsync();
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.ContinueUrl);

            <h1 class="govuk-heading-l">
                @Model.PageTitle
            </h1>

            <p class="govuk-body govuk-!-margin-bottom-7">Submission incomplete</p> @*//TODO: get the correct text based on sections completed*@

            <ol class="app-task-list">
                <li>
                    <h2 class="app-task-list__section">
                        <span class="app-task-list__section-number">1. </span> Required information about your statement
                    </h2>
                    <ul class="app-task-list__items">
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a href="@(Url.Action("YourStatement"))" aria-describedby="slavery-statement">
                                    Your modern slavery statement
                                </a>
                            </span>
                            <strong class="@(yourStatementComplete ? "govuk-tag app-task-list__tag" : "govuk-tag govuk-tag--grey app-task-list__tag" )" id="slavery-statement">@(yourStatementComplete ? "COMPLETED" : "NOT COMPLETED")</strong>
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a href="@(Url.Action("Compliance"))" aria-describedby="compliance">
                                    Areas covered by your modern statement
                                </a>
                            </span>
                            <strong class="@(complianceComplete ? "govuk-tag app-task-list__tag" : "govuk-tag govuk-tag--grey app-task-list__tag" )" id="compliance">@(complianceComplete ? "COMPLETED" : "NOT COMPLETED")</strong>
                        </li>
                    </ul>
                </li>

                <li>
                    <h2 class="app-task-list__section">
                        <span class="app-task-list__section-number">2. </span> Additional information about your statement
                    </h2>
                    <ul class="app-task-list__items">
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a href="@(Url.Action("YourOrganisation"))" aria-describedby="organisation">
                                    Your Organisation
                                </a>
                            </span>
                            <strong class="@(organisationComplete ? "govuk-tag app-task-list__tag" : "govuk-tag govuk-tag--grey app-task-list__tag" )" id="organisation">@(organisationComplete ? "COMPLETED" : "NOT COMPLETED")</strong>
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a href="@(Url.Action("Policies"))" aria-describedby="Policies">
                                    Policies
                                </a>
                            </span>
                            <strong class="@(policiesComplete ? "govuk-tag app-task-list__tag" : "govuk-tag govuk-tag--grey app-task-list__tag" )" id="policies">@(policiesComplete ? "COMPLETED" : "NOT COMPLETED")</strong>
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a href="@(Url.Action("SupplyChainRisks"))" aria-describedby="supply-risks-part-1">
                                    Supply chain risks and due diligence (part 1)
                                </a>
                            </span>
                            <strong class="@(risksComplete ? "govuk-tag app-task-list__tag" : "govuk-tag govuk-tag--grey app-task-list__tag" )" id="supply-risks-part-1">@(risksComplete ? "COMPLETED" : "NOT COMPLETED")</strong>
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a href="@(Url.Action("DueDiligence"))" aria-describedby="supply-risks-part-2">
                                    Supply chain risks and due diligence (part 2)
                                </a>
                            </span>
                            <strong class="@(diligenceComplete ? "govuk-tag app-task-list__tag" : "govuk-tag govuk-tag--grey app-task-list__tag" )" id="supply-risks-part-2">@(diligenceComplete ? "COMPLETED" : "NOT COMPLETED")</strong>
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a href="@(Url.Action("Training"))" aria-describedby="training">
                                    Training
                                </a>
                            </span>
                            <strong class="@(trainingComplete ? "govuk-tag app-task-list__tag" : "govuk-tag govuk-tag--grey app-task-list__tag" )" id="training">@(trainingComplete ? "COMPLETED" : "NOT COMPLETED")</strong>
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a href="@(Url.Action("MonitoringProgress"))" aria-describedby="monitoring-progress">
                                    Monitoring Progress
                                </a>
                            </span>
                            <strong class="@(progressComplete ? "govuk-tag app-task-list__tag" : "govuk-tag govuk-tag--grey app-task-list__tag" )" id="monitoring-progress">@(progressComplete ? "COMPLETED" : "NOT COMPLETED")</strong>
                        </li>
                    </ul>
                </li>
            </ol>
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Confirm and Submit
            </button>
            <a href="@Model.ContinueUrl" asp- class="govuk-button" data-module="govuk-button">
                Save draft
            </a>
            <a href="@Model.CancelUrl" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Cancel
            </a>
        }
    </div>
</div>



