@using System.ComponentModel.DataAnnotations
@{
    Layout = "/Views/GdsLayout.cshtml";
}
@model ModernSlavery.WebUI.Submission.Presenters.StatementViewModel
<a class="govuk-back-link" href="@Url.Action("DueDiligence")">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-column-two-thirds">
        @using (Html.BeginForm())
        {
            var controller = ViewData["Controller"] as BaseController;

            @await Html.CustomValidationSummaryAsync();
            @Html.AntiForgeryToken();


        <h1 class="govuk-heading-l">
            Review @Model.Year group report for @Model.CompanyName
        </h1>

        <p class="govuk-body govuk-!-margin-bottom-7">Submission incomplete</p> @*//TODO: get the correct text based on sections completed*@

        <ol class="app-task-list">
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">1. </span> Required information about your statement
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@(Url.Action("YourStatement"))" aria-describedby="slavery-statement">
                                Your modern slavery statement
                            </a>
                        </span>
                        <strong class="@(Model.IsStatementSectionCompleted ? "govuk-tag app-task-list__tag" : "govuk-tag govuk-tag--grey app-task-list__tag" )" id="slavery-statement">@Model.IsStatementSectionCompleted)</strong>
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@(Url.Action("Compliance"))" aria-describedby="compliance">
                                Areas covered by your modern statement
                            </a>
                        </span>
                        <strong class="@(Model.IsAreasCoveredSectionCompleted ? "govuk-tag app-task-list__tag" : "govuk-tag govuk-tag--grey app-task-list__tag" )" id="compliance">@Model.IsAreasCoveredSectionCompleted</strong>
                    </li>
                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">2. </span> Additional information about your statement
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@(Url.Action("YourOrganisation"))" aria-describedby="organisation">
                                Your Organisation
                            </a>
                        </span>
                        <strong class="@(Model.IsOrganisationSectionCompleted ? "govuk-tag app-task-list__tag" : "govuk-tag govuk-tag--grey app-task-list__tag" )" id="organisation">@Model.IsAreasCoveredSectionCompleted</strong>
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@(Url.Action("Policies"))" aria-describedby="Policies">
                                Policies
                            </a>
                        </span>
                        <strong class="@(Model.IsPoliciesSectionCompleted ? "govuk-tag app-task-list__tag" : "govuk-tag govuk-tag--grey app-task-list__tag" )" id="policies">@Model.IsPoliciesSectionCompleted</strong>
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@(Url.Action("SupplyChainRisks"))" aria-describedby="supply-risks-part-1">
                                Supply chain risks and due diligence (part 1)
                            </a>
                        </span>
                        <strong class="@(Model.IsSupplyChainRiskAndDiligencPart1SectionCompleted ? "govuk-tag app-task-list__tag" : "govuk-tag govuk-tag--grey app-task-list__tag" )" id="supply-risks-part-1">@Model.IsSupplyChainRiskAndDiligencPart1SectionCompleted</strong>
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@(Url.Action("DueDiligence"))" aria-describedby="supply-risks-part-2">
                                Supply chain risks and due diligence (part 2)
                            </a>
                        </span>
                        <strong class="@(Model.IsSupplyChainRiskAndDiligencPart2SectionCompleted ? "govuk-tag app-task-list__tag" : "govuk-tag govuk-tag--grey app-task-list__tag" )" id="supply-risks-part-2">@Model.IsSupplyChainRiskAndDiligencPart2SectionCompleted</strong>
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@(Url.Action("Training"))" aria-describedby="training">
                                Training
                            </a>
                        </span>
                        <strong class="@(Model.IsTrainingSectionCompleted ? "govuk-tag app-task-list__tag" : "govuk-tag govuk-tag--grey app-task-list__tag" )" id="training">@Model.IsTrainingSectionCompleted</strong>
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="@(Url.Action("MonitoringProgress"))" aria-describedby="monitoring-progress">
                                Monitoring Progress
                            </a>
                        </span>
                        <strong class="@(Model.IsMonitoringProgressSectionCompleted ? "govuk-tag app-task-list__tag" : "govuk-tag govuk-tag--grey app-task-list__tag" )" id="monitoring-progress">@Model.IsMonitoringProgressSectionCompleted</strong>
                    </li>
                </ul>
            </li>            
        </ol>

        <button class="govuk-button" data-module="govuk-button" type="submit">
            Confirm and Submit
        </button>
        <button class="govuk-button" data-module="govuk-button" type="submit">
            Save draft
        </button>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit">
            Cancel
        </button>
        }
    </div>
</div>



