@{
    Layout = "/Views/GdsLayout.cshtml";
}
@model ReviewViewModel

@section BeforeMain {
    @if (!string.IsNullOrWhiteSpace(Model.BackUrl))
    {
        <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
    }
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm())
        {
            @await Html.GovUkValidationSummaryAsync();
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.Submitted);

            <h1 class="govuk-heading-xl">
                @Model.PageTitle
            </h1>

            <p class="govuk-body govuk-!-font-weight-bold">
                @Model.SubTitle
            </p>

            <p class="govuk-body govuk-!-margin-bottom-8 ">
                @Model.SectionCountTitle
            </p>

            <ol class="app-task-list">
                <li>
                    <h2 class="govuk-heading-s app-task-list__section">
                        <span class="app-task-list__section-number">1. </span>
                        Basic information about your statement and organisation (required)
                    </h2>
                    <ul class="govuk-list app-task-list__items">
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a class="govuk-link" href="@Model.GroupReportingUrl" aria-describedby="slavery-statement">
                                    Organisation(s) covered by the statement
                                </a>
                            </span>
                            <strong class="govuk-tag @(Model.GroupOrganisationsPages.GetStatus()== BaseStatementViewModel.Status.Complete ? "" : "govuk-tag--grey") app-task-list__tag" id="slavery-statement">@(Model.GroupOrganisationsPages.GetStatus().GetEnumDescription().ToUpper())</strong>
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a class="govuk-link" href="@Model.UrlSignOffUrl" aria-describedby="slavery-statement">
                                    Statement URL, dates and sign-off
                                </a>
                            </span>
                            <strong class="govuk-tag @(Model.GetUrlSignOffStatus()== BaseStatementViewModel.Status.Complete ? "" : "govuk-tag--grey") app-task-list__tag" id="slavery-statement">@(Model.GetUrlSignOffStatus().GetEnumDescription().ToUpper())</strong>
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a class="govuk-link" href="@Model.ComplianceUrl" aria-describedby="slavery-statement">
                                    Recommended areas covered by the statement
                                </a>
                            </span>
                            <strong class="govuk-tag @(Model.CompliancePage.GetStatus()== BaseStatementViewModel.Status.Complete ? "" : "govuk-tag--grey") app-task-list__tag" id="slavery-statement">@(Model.CompliancePage.GetStatus().GetEnumDescription().ToUpper())</strong>
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a class="govuk-link" href="@Model.SectorsUrl" aria-describedby="slavery-statement">
                                    Your organisation's sector(s) and turnover or budget
                                </a>
                            </span>
                            <strong class="govuk-tag @(Model.GetSectorTurnoverStatus()== BaseStatementViewModel.Status.Complete ? "" : "govuk-tag--grey") app-task-list__tag" id="slavery-statement">@(Model.GetSectorTurnoverStatus().GetEnumDescription().ToUpper())</strong>
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a class="govuk-link" href="@Model.YearsUrl" aria-describedby="slavery-statement">
                                    How many years you've been producing statements
                                </a>
                            </span>
                            <strong class="govuk-tag @(Model.YearsPage.GetStatus()== BaseStatementViewModel.Status.Complete ? "" : "govuk-tag--grey") app-task-list__tag" id="slavery-statement">@(Model.YearsPage.GetStatus().GetEnumDescription().ToUpper())</strong>
                        </li>
                    </ul>
                </li>

                <li>
                    <h2 class="govuk-heading-s app-task-list__section">
                        <span class="app-task-list__section-number">2. </span>
                        Statement summary (optional)
                    </h2>
                    <ul class="govuk-list app-task-list__items">
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a class="govuk-link" href="@Model.PoliciesUrl" aria-describedby="Policies">
                                    Your policies
                                </a>
                            </span>
                            <strong class="govuk-tag @(Model.PoliciesPage.GetStatus()== BaseStatementViewModel.Status.Complete ? "" : "govuk-tag--grey") app-task-list__tag" id="slavery-statement">@(Model.PoliciesPage.GetStatus().GetEnumDescription().ToUpper())</strong>
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a class="govuk-link" href="@Model.TrainingUrl" aria-describedby="training">
                                    Training and raising awareness
                                </a>
                            </span>
                            <strong class="govuk-tag @(Model.TrainingPage.GetStatus()== BaseStatementViewModel.Status.Complete ? "" : "govuk-tag--grey") app-task-list__tag" id="slavery-statement">@(Model.TrainingPage.GetStatus().GetEnumDescription().ToUpper())</strong>
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a class="govuk-link" href="@Model.WorkingConditionsUrl" aria-describedby="monitoring-progress">
                                    How you monitor working conditions
                                </a>
                            </span>
                            <strong class="govuk-tag @(Model.GetWorkingConditionsStatus()== BaseStatementViewModel.Status.Complete ? "" : "govuk-tag--grey") app-task-list__tag" id="slavery-statement">@(Model.GetWorkingConditionsStatus().GetEnumDescription().ToUpper())</strong>
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a class="govuk-link" href="@Model.RisksUrl" aria-describedby="monitoring-progress">
                                    Your highest risks of modern slavery
                                </a>
                            </span>
                            <strong class="govuk-tag @(Model.GetRisksStatus()== BaseStatementViewModel.Status.Complete ? "" : "govuk-tag--grey") app-task-list__tag" id="slavery-statement">@(Model.GetRisksStatus().GetEnumDescription().ToUpper())</strong>
                        </li>

                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a class="govuk-link" href="@Model.IndicatorsUrl" aria-describedby="monitoring-progress">
                                    Finding indicators of modern slavery
                                </a>
                            </span>
                            <strong class="govuk-tag @(Model.GetIndicatorRemediationsStatus()== BaseStatementViewModel.Status.Complete ? "" : "govuk-tag--grey") app-task-list__tag" id="slavery-statement">@(Model.GetIndicatorRemediationsStatus().GetEnumDescription().ToUpper())</strong>
                        </li>

                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a class="govuk-link" href="@Model.ProgressUrl" aria-describedby="monitoring-progress">
                                    Monitoring your progress
                                </a>
                            </span>
                            <strong class="govuk-tag @(Model.ProgressPage.GetStatus()== BaseStatementViewModel.Status.Complete ? "" : "govuk-tag--grey") app-task-list__tag" id="slavery-statement">@(Model.ProgressPage.GetStatus().GetEnumDescription().ToUpper())</strong>
                        </li>
                    </ul>
                </li>
            </ol>
            if (Model.CanSubmit())
            {
                <h3 class="govuk-heading-m">Submit your answers</h3>

                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Declaration
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body govuk-!-font-weight-bold">I confirm that:</p>
                        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                            <li class="govuk-!-margin-bottom-3">the information I have supplied is complete and true to the best of my knowledge</li>
                            <li class="govuk-!-margin-bottom-3">I am authorised to supply this information on behalf of the organisation(s) the modern slavery statement is for</li>
                            <li class="govuk-!-margin-bottom-3">if the statement is for a group, all organisations in the group know that this statement is being submitted to the service on their behalf</li>
                        </ul>
                        <p class="govuk-body govuk-!-font-weight-bold">I understand that:</p>
                        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                            <li class="govuk-!-margin-bottom-3">the answers I submit will be published on GOV.UK</li>
                            <li class="govuk-!-margin-bottom-3">my statement will be removed from the service if it is found to contain inaccuracies</li>
                        </ul>
                    </div>
                </details>

                <div class="govuk-form-group">
                    <div class="govuk-checkboxes @Html.SetErrorClass("AcceptedDeclaration", "govuk-form-group--error")">
                        <div class="govuk-checkboxes__item">
                            <input name="AcceptedDeclaration" id="AcceptedDeclaration" class="govuk-checkboxes__input" type="checkbox" value="true">
                            <label class="govuk-label govuk-checkboxes__label" for="AcceptedDeclaration">
                                I understand and agree with the above declaration
                            </label>
                        </div>
                        @Html.ValidationMessage("AcceptedDeclaration", new { @class = "govuk-error-message" })
                    </div>
                </div>

                <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" disabled="@(!Model.CanSubmit())" name="command" value="@BaseStatementViewModel.CommandType.Submit">
                    Submit for publication
                </button>
            }

            <button class="govuk-button govuk-button--secondary" name="command" value="@BaseStatementViewModel.CommandType.Skip">
                Save draft
            </button>
        }
    </div>
</div>



