@{
    Layout = "/Views/GdsLayout.cshtml";
}
@model SocialAuditsViewModel
@using static ModernSlavery.Core.Entities.StatementSummary.V1.StatementSummary;
@section BeforeMain {
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate = "" }))
        {
            @await Html.GovUkValidationSummaryAsync();
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.Submitted);

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="conditions-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-5">
                        <h1 class="govuk-fieldset__heading">
                            @Model.PageTitle
                        </h1>
                    </legend>

                    <div class="govuk-body">
                        If so, which of the following categories apply?
                    </div>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                What are social audits?
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            A social audit is a review of an organisation’s working practices from the point of view of social responsibility, and should include an evaluation of working conditions in the organisation’s operations and supply chains.
                            By their nature, audits of supplier workplaces represent a snapshot in time.
                        </div>
                    </details>

                    <div id="conditions-hint" class="govuk-hint">
                        Select all that apply
                    </div>

                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        @foreach (var auditType in Enums.GetValuesExcept<SocialAuditTypes>(SocialAuditTypes.Unknown))
                        {
                            var value = (int)auditType;
                            var isNone = auditType == SocialAuditTypes.None;

                            if (isNone)
                            {
                                <div class="govuk-!-margin-bottom-2 govuk-!-margin-top-5">
                                    or
                                </div>
                            }

                            <div class="govuk-checkboxes__item">
                                <input name="SocialAudits" value="@value" id="@($"audit{value}")" checked=@(Model.SocialAudits.Contains(auditType)) class="govuk-checkboxes__input" type="checkbox" data-mutually-exclusive-group="@isNone.ToString()">
                                <label class="govuk-label govuk-checkboxes__label" for="@($"audit{value}")">
                                    @auditType.GetEnumDescription()
                                </label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" type="submit" name="command" value="@BaseStatementViewModel.CommandType.Continue">
                Save and continue
            </button>

            <div class="skip-link">
                <a class="govuk-link" href="@(Model.SkipUrl)">Skip this question</a>
            </div>
        }
    </div>

</div>
