@{
    Layout = "/Views/GdsLayout.cshtml";
}
@model RisksPageViewModel
<a class="govuk-back-link" href="@Model.BackUrl">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-column-two-thirds">
        @using (Html.BeginForm())
        {
            var controller = ViewData["Controller"] as BaseController;

            @await Html.CustomValidationSummaryAsync();
            @Html.AntiForgeryToken();

            @(Html.GovUkErrorSummary(new[]
        {
                    nameof(RisksPageViewModel.RelevantRisks)
                }))

            <h2>Part 1</h2>

            <h1 class="govuk-heading-l">
                Supply Chain Risks and due diligence
            </h1>

            <h2 class="govuk-heading-m">
                Which areas are relevant to your organisation when assessing your supply chains for modern slavery risks?
            </h2>

            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                @foreach (var group in Model.RelevantRisks.Where(x => x.Category == RiskCategories.RiskArea.ToString() && x.ParentId == null))
                {
                    <div class="govuk-accordion__section accordion-with-counts">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading">
                                    @group.Description
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <span class="govuk-hint" id="GovUk_Sectors-hint">
                                        Select all that apply.
                                    </span>
                                    <div class="govuk-checkboxes">
                                        @foreach (var item in group.ChildRisks)
                                        {
                                            <div class="govuk-checkboxes__item">
                                                <input asp-for="@item.IsSelected" class="govuk-checkboxes__input" id="conditional" name="supply-risk" type="checkbox" data-aria-controls="conditional-conditional">
                                                <label class="govuk-label govuk-checkboxes__label" for="conditional">
                                                    @item.Description
                                                </label>
                                            </div>
                                            //TODO: best way to determine when should have the other box ?
                                                if (item.Description.Contains("Other"))
                                              {
                                           
                                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-conditional">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label" for="other">
                                                        Please specify the @item.Description
                                                    </label>                                                   
                                                    <input asp-for="@item.Details" class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="other" type="text" maxlength="100">
                                                </div>
                                                }
                                            </div>
                                                }
                                        }
                                    </div>                                    
                                    @*<span class="checkbox-count">Selected</span>*@
                                </fieldset>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="govuk-form-group">
                <label asp-for="OtherRelevantRisks" class="govuk-label" for="address-town">                   
                </label>
                <textarea asp-for="OtherRelevantRisks" class="govuk-textarea" rows="5" maxlength="250"></textarea>
            </div>

            <h2 class="govuk-heading-l">
                Which areas of your supply chains do you consider to have the highest risk of modern slavery?
            </h2>
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                @foreach (var group in Model.HighRisks.Where(x=> x.ParentId == null))
                {
                    <div class="govuk-accordion__section accordion-with-counts">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading">
                                    @group.Description
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <span class="govuk-hint" id="GovUk_Sectors-hint">
                                        Select up to 3 areas
                                    </span>
                                    <div class="govuk-checkboxes">
                                        @foreach (var item in group.ChildRisks)
                                        {
                                            <div class="govuk-checkboxes__item">
                                                <input asp-for="@item.IsSelected" class="govuk-checkboxes__input" id="conditional-high-risk" name="high-risk" type="checkbox" data-aria-controls="conditional-conditional-high-risk">
                                                <label class="govuk-label govuk-checkboxes__label" for="conditional">
                                                    @item.Description
                                                </label>
                                            </div>
                                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-conditional-high-risk">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label" for="other">
                                                        Please explain why
                                                    </label>
                                                    <textarea asp-for="@item.Details" class="govuk-textarea" name="other" rows="5" maxlength="250"></textarea>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    @*<span class="checkbox-count">Selected</span>*@
                                </fieldset>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="govuk-form-group">
                <label asp-for="OtherHighRisks" class="govuk-label" for="address-town">                   
                </label>
                <textarea asp-for="OtherHighRisks" class="govuk-textarea" rows="5"></textarea>
            </div>

            <h2 class="govuk-heading-l">
                Which locations do you believe are at higher risk of modern slavery in your operations and supply chains?
            </h2>
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                @foreach (var group in Model.LocationRisks.Where(x => x.Category == RiskCategories.Location.ToString() && x.ParentId == null))
                {
                    <div class="govuk-accordion__section accordion-with-counts">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading">
                                    @group.Description
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">                                 
                                    <div class="govuk-checkboxes">
                                        @foreach (var item in group.ChildRisks)
                                        {
                                            <div class="govuk-checkboxes__item">
                                                <input asp-for="@item.IsSelected" class="govuk-checkboxes__input" type="checkbox" >
                                                <label class="govuk-label govuk-checkboxes__label">
                                                    @item.Description
                                                </label>
                                            </div>                                           
                                        }
                                    </div>
                                    @*<span class="checkbox-count">Selected</span>*@
                                </fieldset>
                            </div>
                        </div>
                    </div>
                }
            </div>


            <button class="govuk-button" data-module="govuk-button" type="submit">
                Continue
            </button>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit">
                Cancel
            </button>
        }

    </div>

</div>
