@using System.Linq; 
@{
    Layout = "/Views/GdsLayout.cshtml";
    Title = Model.PageTitle;
}
@model TurnoverViewModel

@section BeforeMain {
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate = "" }))
        {
            @await Html.GovUkValidationSummaryAsync();
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.Submitted);

            <div class="govuk-form-group  govuk-!-margin-bottom-7">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-5">
                        <h1 class="govuk-fieldset__heading">
                            @Model.PageTitle
                        </h1>
                    </legend>

                    <p class="govuk-body">
                        If your statement is for a group, include the total turnover for all the organisations in the group.
                    </p>

                    <p class="govuk-body govuk-!-margin-bottom-5">
                        If you’re a public body, base your answer on your organisation’s budget.
                    </p>
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Read guidance on how to calculate turnover
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            Advice on calculating your turnover or budget, including for charities and investment trusts, is available in the government’s <a href="https://www.gov.uk/guidance/publish-an-annual-modern-slavery-statement#who-needs-to-publish-a-statement" class="govuk-link" target="_blank">guidance on publishing a statement (opens in new window)</a>.
                        </div>
                    </details>

                    <div class="govuk-radios">
                        @foreach (var item in Enums.GetValues<Statement.StatementTurnoverRanges>().Where(x => x != Statement.StatementTurnoverRanges.NotProvided))
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="Turnover-@(item)" name="Turnover" type="radio" checked="@(Model.Turnover==item)" value="@(item)">
                                <label class="govuk-label govuk-radios__label" for="Turnover-@(item)">
                                    @(item.GetEnumDescription())
                                </label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>


            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" type="submit" name="command" value="@BaseStatementViewModel.CommandType.Continue">
                Save and continue
            </button>

            <div class="skip-link">
                <a class="govuk-link" href="@(Model.SkipUrl)">Skip this question</a>
            </div>
        }
    </div>
</div>
