@using ModernSlavery.WebUI.GDSDesignSystem.Attributes 
@{
    Layout = "/Views/GdsLayout.cshtml";
}
@model OrganisationPageViewModel
<a class="govuk-back-link" href="@Model.BackUrl">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-column-two-thirds">
        @using (Html.BeginForm())
        {
            var controller = ViewData["Controller"] as BaseController;

            @await Html.CustomValidationSummaryAsync();
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.ContinueUrl);
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="organisation-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-l">
                            @Model.PageTitle
                        </h1>
                        <h2 class="govuk-heading-m">
                            Which sector does your organisation operate in?
                        </h2>
                    </legend>
                    <span id="organisation-hint" class="govuk-hint">
                        Select all that apply
                    </span>
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                What is this?
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            @*TODO: get content*@
                        </div>
                    </details>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        @foreach (var item in Model.Sectors)
                        {
                            <div class="govuk-checkboxes__item">
                                <input asp-for="@item.IsSelected" class="govuk-checkboxes__input" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label">
                                    @item.Description
                                </label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>

            @(Html.GovUkRadiosFor(
                    model => model.Turnover,
                    new FieldsetViewModel
                    {
                        Legend = new LegendViewModel
                        {
                            Text = Model.Turnover.GetAttribute<GovUkRadioCheckboxLabelTextAttribute>()?.Text,
                            Classes = "govuk-fieldset__legend--m"
                        },
                        Classes = "govuk-!-margin-top-6"
                    }
                    ))

            <button class="govuk-button" data-module="govuk-button" type="submit">
                Continue
            </button>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit">
                Cancel
            </button>
        }
    </div>
</div>
