@inject ISnapshotDateHelper SnapshotDateHelper
@inject IWebService WebService
@using ModernSlavery.Core.Interfaces
@model IEnumerable<UserOrganisation>
@{
    Layout = "~/Views/DfeTemplate.cshtml";
    ViewBag.Title = "Manage your organisation - Modern Slavery reporting service";
    var hasRegisteredOrgs = Model.Any();
}

@await Html.PartialAsync("AccountNavigation")

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-large">
            Select an organisation
        </h1>
        <p>Use this page to access your registered organisations or to register a new organisation.</p>
        <p>Once you have selected an organisation you can:</p>

        <ul class="list-bullet">
            <li>Enter Modern Slavery statement and save it as a draft for publication at a later date</li>
            <li>Publish your data on the <a href="~/">Modern Slavery Reporting service</a></li>
            <li>Declare whether your organisation is required to report for each reporting year </li>
        </ul>

        <table class="organisations-table" summary="A list of organisations registered to your account" style="margin-top: 30px">
            <thead>
            <tr>
                <th class="org-name" scope="col">Organisation name</th>
                <th scope="col">Registration Status</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var userOrg in Model)
            {
                // include the currrent user in the count but dont show a count to pending users
                var assocUserCount = userOrg.GetAssociatedUsers().Count();
                var accountingDate = SnapshotDateHelper.GetSnapshotDate(userOrg.Organisation.SectorType);
                var accountingStartYear = accountingDate.Year;
                var accountingEndYear = (accountingDate.Year + 1).ToString();

                var encOrgId = Encryption.EncryptQuerystring(userOrg.OrganisationId.ToString());
                var latestReturn = userOrg.Organisation.LatestReturn;
                var scopeStatus = userOrg.Organisation.GetScopeStatus(accountingDate);
                var address = userOrg.Organisation.GetLatestAddress()?.GetAddressString();

                <tr>
                    @if (userOrg.PINSentDate != null && userOrg.PINConfirmedDate == null)
                    {
                        <th scope="row">
                            <a id="ActivateOrg-@(encOrgId)" href="@(WebService.RouteHelper.Get(UrlRouteOptions.Routes.RegistrationActivate, new {id = encOrgId}))">
                                <span>@userOrg.Organisation.OrganisationName.ToUpper()</span>
                            </a>
                        </th>
                        <td data-prefix="Status">
                            Awaiting activation PIN
                        </td>
                    }
                    else if (userOrg.PINSentDate == null && userOrg.PINConfirmedDate == null)
                    {
                        <th scope="row">
                            <span>@userOrg.Organisation.OrganisationName.ToUpper()</span>
                        </th>
                        <td data-prefix="Status">
                            Awaiting registration approval
                        </td>
                    }
                    else
                    {
                        <th scope="row">
                            <a id="ManageOrg-@(encOrgId)" href="@WebService.RouteHelper.Get(UrlRouteOptions.Routes.RegistrationActivate, new {id = encOrgId})">
                                <span>@userOrg.Organisation.OrganisationName.ToUpper()</span>
                            </a>
                        </th>
                        <td data-prefix="Status">
                            <span>Registration complete</span>
                        </td>
                    }
                </tr>
            }

            @if (hasRegisteredOrgs == false)
            {
                <tr>
                    <td colspan="2" style="border-bottom: none">There are no organisations registered to your account.</td>
                </tr>
            }

            </tbody>
        </table>

    </div>

</div>

<div class="grid-row">

    <div class="column-two-thirds">

        <p>
            <a class="button" href="@WebService.RouteHelper.Get(UrlRouteOptions.Routes.RegistrationAdd)">Register an organisation</a>
        </p>

        @if (hasRegisteredOrgs == false)
        {
            <h2 class="heading-small">Need to close your account?</h2>
            <p>
                If you created an account by mistake or no longer responsible
                for reporting Modern Slavery statement you can close your account in <a href="@(WebService.RouteHelper.Get(UrlRouteOptions.Routes.AccountHome))">manage account</a>.
            </p>
        }

    </div>

</div>
<hr style="background: black; border: 1px solid black;"/>
<partial name="~/Views/Viewing/Launchpad/Parts/ServiceSurveyIntroAndLink.cshtml"/>