@model ScopingViewModel
@{
    Layout = "/Views/GdsLayout.cshtml";
    ViewBag.Title = "Review your information - Modern Slavery reporting service";
}
<a class="govuk-back-link" href="@Url.Action("EnterOutOfScopeAnswers")">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form", autocomplete = "off", novalidate = "" }))
        {
            @Html.AntiForgeryToken()

            var reportDateFormatter = new GDSDateFormatter(Model.AccountingDate);

            <h1 class="govuk-heading-l">
                Check your answers before sending
            </h1>

            <h2 class="govuk-heading-m">Organisation details</h2>
            @await Html.PartialAsync("Parts/EmployerDetailsPart", Model)
    <div class="change-header">
        <h2 class="govuk-heading-m">Declaration</h2>
        <a class="govuk-link" href="@Url.Action("EnterOutOfScopeAnswers")">
            Change
        </a>
    </div>
            @await Html.PartialAsync("Parts/AnswersPart", Model)

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">                          
                            <input name="@(Model.EnterAnswers.RequiresEmailConfirmation)" checked=@(Model.EnterAnswers.RequiresEmailConfirmation) value="@(Model.EnterAnswers.RequiresEmailConfirmation)" class="govuk-checkboxes__input" type="checkbox">
                                 <label class="govuk-label govuk-checkboxes__label">
                                      I would like to receive a confirmation email
                                  </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" type="submit" value="Confirm and send">
                Confirm and send
            </button>
        }
    </div>
        </div>