@inject SharedOptions sharedOptions
@using Microsoft.AspNetCore.Html
@using ModernSlavery.Core.Models
@model EnterAnswersViewModel
@{
    Layout = "/Views/GdsLayout.cshtml";
    ViewBag.Title = "Tell us why your organisation is not in scope - Modern Slavery reporting service";
    var reasonIndex = 0;
}

@section BeforeMain {
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @await Html.GovUkValidationSummaryAsync(false);

            <h1 class="govuk-heading-l">
                Tell us why your organisation is not required to publish a modern slavery statement
            </h1>

            <div id="ReasonGroup" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-checkboxes @Html.SetErrorClass(model => model.SelectedReasonOptions, "govuk-form-group--error")" data-module="govuk-checkboxes">
                        <span asp-validation-for="SelectedReasonOptions" class="govuk-error-message"></span>
                        @foreach (var reason in Model.ReasonOptions)
                        {
                            <div class="govuk-checkboxes__item">
                                <input id="selected-reason-@reasonIndex" name="SelectedReasonOptions" checked=@(Model.SelectedReasonOptions.Contains(reason)) value="@reason" class="govuk-checkboxes__input" type="checkbox" data-aria-controls="reason-conditional-@(reasonIndex)">
                                <label class="govuk-label govuk-checkboxes__label" for="selected-reason-@reasonIndex">
                                    @reason
                                </label>
                            </div>
                            @if (reason.Equals("Its turnover or budget is less than £36 million per year"))
                            {
                                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden @Html.SetErrorClass(model => model.TurnOver, "govuk-form-group--error")" id="reason-conditional-@(reasonIndex)">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="other">
                                            What is your organisation’s annual turnover or budget?
                                        </label>
                                        <span class="govuk-body currency-symbol">
                                            <input class="govuk-input" asp-for="TurnOver" />
                                        </span>
                                        <span asp-validation-for="TurnOver" class="govuk-error-message"></span>
                                    </div>
                                </div>
                            }
                            @if (reason.Equals("Other"))
                            {
                                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden govuk-character-count @Html.SetErrorClass(model => model.OtherReason, "govuk-form-group--error")" id="reason-conditional-@(reasonIndex)" data-module="govuk-character-count" data-maxlength="@Model.ReasonMaxLength">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="other">
                                            Please specify
                                        </label>
                                        <textarea asp-for="OtherReason" id="@nameof(EnterAnswersViewModel.OtherReason)" class="govuk-textarea govuk-js-character-count" rows="5" aria-describedby="@($"{nameof(EnterAnswersViewModel.OtherReason)}-info")"></textarea>
                                        <span id="@($"{nameof(EnterAnswersViewModel.OtherReason)}-info")" class="govuk-hint govuk-character-count__message" aria-live="polite">You can enter up to @(Model.ReasonMaxLength) characters</span>
                                        <span asp-validation-for="OtherReason" class="govuk-error-message"></span>
                                    </div>
                                </div>
                            }
                            { reasonIndex++; }
                        }
                    </div>
                </fieldset>
            </div>

            <div class="govuk-inset-text">
                <a class="govuk-link" href="https://www.gov.uk/guidance/publish-an-annual-modern-slavery-statement" target="_blank">Guidance</a> is available to help you work out whether your organisation is required to publish a modern slavery statement.
            </div>


            if (!Model.UserIsRegistered)
            {
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Your contact details
                    </legend>
                    <div id="FirstNameGroup" class="govuk-form-group @(Html.SetErrorClass(nameof(EnterAnswersViewModel.FirstName), "govuk-form-group--error")) ">
                        <label asp-for="FirstName" class="govuk-label">First name</label>
                        <input name="@nameof(EnterAnswersViewModel.FirstName)" class="govuk-input govuk-input--width-20" value="@(Model.FirstName)" />
                        <span asp-validation-for="FirstName" class="govuk-error-message"></span>
                    </div>
                    <div id="LastNameGroup" class="govuk-form-group @Html.SetErrorClass(nameof(EnterAnswersViewModel.LastName), "govuk-form-group--error") ">
                        <label asp-for="LastName" class="govuk-label">Last name</label>
                        <input name="@nameof(EnterAnswersViewModel.LastName)" class="govuk-input govuk-input--width-20" value="@(Model.LastName)" />
                        <span asp-validation-for="LastName" class="govuk-error-message"></span>
                    </div>
                    <div id="TitleGroup" class="govuk-form-group @Html.SetErrorClass(nameof(EnterAnswersViewModel.JobTitle), "govuk-form-group--error") ">
                        <label asp-for="JobTitle" class="govuk-label">Job title</label>
                        <input name="@nameof(EnterAnswersViewModel.JobTitle)" class="govuk-input govuk-input--width-20" value="@(Model.JobTitle)" />
                        <span asp-validation-for="JobTitle" class="govuk-error-message"></span>
                    </div>
                    <div id="EmailAddressGroup" class="govuk-form-group @Html.SetErrorClass(nameof(EnterAnswersViewModel.EmailAddress), "govuk-form-group--error") ">
                        <label asp-for="EmailAddress" class="govuk-label">Email address</label>
                        <input name="@nameof(EnterAnswersViewModel.EmailAddress)" class="govuk-input govuk-input--width-20" value="@(Model.EmailAddress)" type="email" />
                        <span asp-validation-for="EmailAddress" class="govuk-error-message"></span>
                    </div>
                </fieldset>
            }

            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" type="submit" value="Continue">
                Continue
            </button>
        }
    </div>
</div>