@inject ModernSlavery.WebUI.Shared.Options.CdnOptions cdnOptions;

@inject SharedOptions sharedOptions;
@{
    Layout = "~/Views/GovUkTemplate.cshtml";
}

@section Head {
    @await Html.PartialAsync("_Tracking")

    @RenderSection("Head", false)

    @if (IsRelease)
    {
        <link asp-append-version="true" href="/assets/stylesheets/application.min.css" rel="stylesheet" type="text/css" media="all" />
    }
    else
    {
        <link asp-append-version="true" asp-href-include="/assets/stylesheets/**/*.css" asp-href-exclude="/assets/stylesheets/**/*.min.css" rel="stylesheet" type="text/css" media="all" />
    }
}

@RenderSection("PreMain", false)
<main id="content" class="page @(ViewBag.pageClass)" role="main" tabindex="-1">
    @RenderBody()
</main>

@section BodyEnd {
    <script asp-append-version="true" src="/assets/javascripts/jquery-1.11.3.min.js"></script>
    <script asp-append-version="true" src="/assets/javascripts/jquery.tablesorter.min.js"></script>

    @if (IsRelease)
    {
        <script asp-append-version="true" src="/assets/javascripts/application.min.js" type="text/javascript"></script>
    }
    else
    {
        <script asp-append-version="true" asp-src-include="/assets/javascripts/**/*.js" asp-src-exclude="/assets/javascripts/**/*.min.js" type="text/javascript"></script>
    }
    @RenderSection("scripts", false)

    @{ await Html.RenderPartialAsync("_GoogleAnalyticsEventTracking"); }
}