@using ModernSlavery.Core.Models
@using ModernSlavery.WebUI.Shared.Classes.Cookies
@using ModernSlavery.WebUI.Shared.Interfaces
@using ModernSlavery.WebUI.Shared.Options
@inject ModernSlavery.WebUI.Shared.Options.CdnOptions cdnOptions;
@inject SharedOptions sharedOptions
@inject FeatureSwitchOptions featureSwitchOptions
@inject IWebService WebService
<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">
<head>
    <meta charset="utf-8" />
    <title>@(ViewBag.Title ?? "Modern Slavery Reporting service")</title>
    @if (User.Identity.IsAuthenticated)
    {
        <meta http-equiv="refresh" content="@(sharedOptions.SessionTimeOutMinutes * 60);@Url.Action("SessionExpired", "Shared", null, "https")" />
    }
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="blue" />
    <meta name="format-detection" content="telephone=no" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="blue">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">

    <environment exclude="Development, DEV, TEST">
        <!--[if !IE 8]><!-->
        <link href="/assets/styles/app-all.min.css" asp-append-version="true" rel="stylesheet" type="text/css" media="all" />
        <!--<![endif]-->
        <!--[if IE 8]>
            <link href="/assets/styles/app-ie8.min.css" asp-append-version="true" rel="stylesheet" type="text/css" media="all" />
        <![endif]-->
    </environment>
    <environment include="Development, DEV, TEST">
        <!--[if !IE 8]><!-->
        <link href="/assets/styles/app-all.css" rel="stylesheet" type="text/css" media="all" />
        <!--<![endif]-->
        <!--[if IE 8]>
            <link href="/assets/styles/app-ie8.css" rel="stylesheet" type="text/css" media="all" />
        <![endif]-->
    </environment>

    <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">

    @{ await Html.RenderPartialAsync("_Tracking"); }
</head>

<body class="govuk-template__body govuk-body app-body-class">
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    @if (featureSwitchOptions.IsEnabled("CookiePolicyLink") && !CookieHelper.HasSeenLatestCookieMessage(Context.Request) && !ViewContext.RouteData.Values["action"].Equals("CookieSettings"))
    {
        await Html.RenderPartialAsync("~/Views/Components/CookieBanner.cshtml");
    }

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    @{
        var headerNavigationLinks = new List<HeaderNavigationViewModel>();
        if (featureSwitchOptions.IsEnabled("NavigationLinks"))
        {
            if (featureSwitchOptions.IsEnabled("ReportingStepByStep"))
            {
                headerNavigationLinks.Add(new HeaderNavigationViewModel
                {
                    Text = "Search",
                    Href = Url.ActionArea("SearchResults", "Viewing", "Viewing")
                });
                headerNavigationLinks.Add(new HeaderNavigationViewModel
                {
                    Text = "Guidance",
                    Href = Url.ActionArea("StepByStepStandalone", "ReportingStepByStep", "Viewing")
                });
                headerNavigationLinks.Add(new HeaderNavigationViewModel
                {
                    Text = "Submit",
                    Href = Url.ActionArea("ManageOrganisations", "Submission", "Submission")
                });
            }
            else
            {
                headerNavigationLinks.Add(new HeaderNavigationViewModel
                {
                    Text = "Search and compare",
                    Href = Url.ActionArea("SearchResults", "Viewing", "Viewing")
                });
                headerNavigationLinks.Add(new HeaderNavigationViewModel
                {
                    Text = "Download",
                    Href = Url.ActionArea("Download", "Viewing", "Viewing")
                });
                headerNavigationLinks.Add(new HeaderNavigationViewModel
                {
                    Text = "Close the gap",
                    Href = Url.ActionArea("Overview", "ActionsHub", "Viewing")
                });
            }
        }

        var controllerName = ViewContext.RouteData.Values["Controller"].ToString();
        if (controllerName.StartsWith("Admin"))
        {
            headerNavigationLinks.Add(new HeaderNavigationViewModel
            {
                Text = "Admin",
                Href = Url.ActionArea("Home", "Admin", "Admin")
            });
        }

        if (User.Identity.IsAuthenticated)
        {
            headerNavigationLinks.Add(new HeaderNavigationViewModel
            {
                Text = "Sign out",
                Href = Url.ActionArea("SignOut", "Account", "Account"),
                Classes = "sign-out-link"
            });
        }
        else if (!Url.IsAction("Login", "Identity", "Identity"))
        {
            headerNavigationLinks.Add(new HeaderNavigationViewModel
            {
                Text = "Sign in",
                Href = Url.ActionArea("ManageOrganisations", "Submission", "Submission"),
                Classes = "sign-out-link"
            });
        }

        @(Html.GovUkHeader(new HeaderViewModel
    {
        ServiceName = sharedOptions.ServiceName,
        HomepageUrl = "https://www.gov.uk",
        ServiceUrl = featureSwitchOptions.IsEnabled("NavigationLinks") ? "/" : null,
        Navigation = headerNavigationLinks
    }))

        @(Html.GovUkPhaseBanner(new PhaseBannerViewModel
    {
        Classes= "phase-banner-beta govuk-width-container",
        Phase = "BETA",
        Html = @<text>This is a new service – your <a class="govuk-link" asp-action="SendFeedback" asp-controller="shared">feedback</a> will help us to improve it.</text>
    }))

    }
    <div class="govuk-width-container">
        <div class="navigation" role="navigation" aria-label="page-navigation">
            @(RenderSection("BeforeMain", false))
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">
            @RenderBody()
        </main>
    </div>
    @{
        var links = new List<FooterLinksViewModel>();

        links.Add(new FooterLinksViewModel
        {
            Text = "Contact us",
            Href = Url.Page("/ContactUs")
        });

        if (featureSwitchOptions.IsEnabled("CookiePolicyLink"))
            links.Add(new FooterLinksViewModel
            {
                Text = "Cookies",
                Href = Url.Action("CookieSettings", "Shared")
            });
        if (featureSwitchOptions.IsEnabled("PrivacyPolicyLink"))
            links.Add(new FooterLinksViewModel
            {
                Text = "Privacy Policy",
                Href = Url.Action("PrivacyPolicy", "Shared")
            });
        if (featureSwitchOptions.IsEnabled("ReportConcernsLink"))
            links.Add(new FooterLinksViewModel
            {
                Text = "Report Concerns",
                Href = Url.Action("ReportConcerns", "Shared")
            });

    }
    @(Html.GovUkFooter(new FooterViewModel { MetaNavigation = new FooterMetaNavigationViewModel() { Links = links.ToArray() } }))
    <script src="/assets/scripts/jquery-1.11.3.js"></script>

    <environment exclude="Development, DEV, TEST, QAT, PROD, PREPROD, UR">
        <script src="/assets/scripts/app.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="/assets/javascripts/**/*.min.js" type="text/javascript" asp-append-version="true"></script>
    </environment>
    <environment include="Development, DEV, TEST, QAT, PROD, PREPROD, UR">
        <script asp-src-include="/assets/scripts/**/*.js" asp-src-exclude="/assets/scripts/app.min.js" type="text/javascript"></script>
        <script asp-src-include="/assets/javascripts/**/*.js" asp-src-exclude="/assets/javascripts/**/*.min.js" type="text/javascript"></script>
    </environment>

    <script>window.GOVUKFrontend.initAll()</script>
    @RenderSection("AfterLoadedCompiledScripts", false)
</body>
</html>