@using ModernSlavery.Core.Models
@using ModernSlavery.WebUI.Shared.Classes.Cookies
@using ModernSlavery.WebUI.Shared.Interfaces
@using ModernSlavery.WebUI.Shared.Options
@inject ModernSlavery.WebUI.Shared.Options.CdnOptions cdnOptions;
@inject SharedOptions sharedOptions
@inject FeatureSwitchOptions featureSwitchOptions
@inject IWebService WebService
<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">
<head>
    <meta charset="utf-8" />
    <title>@(ViewBag.Title ?? "Modern Slavery Reporting service")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="blue" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="blue">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">

    <environment exclude="Development, DEV, TEST">
        <!--[if !IE 8]><!-->
        <link href="/assets/styles/app-all.min.css" asp-append-version="true" rel="stylesheet" type="text/css" media="all" />
        <!--<![endif]-->
        <!--[if IE 8]>
            <link href="/assets/styles/app-ie8.min.css" asp-append-version="true" rel="stylesheet" type="text/css" media="all" />
        <![endif]-->
    </environment>
    <environment include="Development, DEV, TEST">
        <!--[if !IE 8]><!-->
        <link href="/assets/styles/app-all.css" rel="stylesheet" type="text/css" media="all" />
        <!--<![endif]-->
        <!--[if IE 8]>
            <link href="/assets/styles/app-ie8.css" rel="stylesheet" type="text/css" media="all" />
        <![endif]-->
    </environment>

    <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">

    @{ await Html.RenderPartialAsync("_Tracking"); }
</head>

<body class="govuk-template__body app-body-class">
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    @if (!CookieHelper.HasSeenLatestCookieMessage(Context.Request) && !ViewContext.RouteData.Values["action"].Equals("CookieSettings"))
    {
        await Html.RenderPartialAsync("~/Views/Components/CookieBanner.cshtml");
    }

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    @{
        List<HeaderNavigationViewModel> headerNavigationLinks;
        if (featureSwitchOptions.IsEnabled("ReportingStepByStep"))
        {
            headerNavigationLinks = new List<HeaderNavigationViewModel>
{
            new HeaderNavigationViewModel
            {
                Text = "Search",
                Href = Url.Action("SearchResults", "Viewing")
            },
            new HeaderNavigationViewModel
            {
                Text = "Guidance",
                Href = Url.Action("StepByStepStandalone", "ReportingStepByStep")
            },
            new HeaderNavigationViewModel
            {
                Text = "Submit",
                Href = Url.Action("ManageOrganisations", "Submission")
            }
        };
        }
        else
        {
            headerNavigationLinks = new List<HeaderNavigationViewModel>
{
            new HeaderNavigationViewModel
            {
                Text = "Search and compare",
                Href = Url.Action("SearchResults", "Viewing")
            },
            new HeaderNavigationViewModel
            {
                Text = "Download",
                Href = Url.Action("Download", "Viewing")
            },
            new HeaderNavigationViewModel
            {
                Text = "Close the gap",
                Href = Url.Action("Overview", "ActionsHub")
            }
        };
        }

        var controllerName = ViewContext.RouteData.Values["Controller"].ToString();
        if (controllerName.StartsWith("Admin"))
        {
            headerNavigationLinks.Add(new HeaderNavigationViewModel
            {
                Text = "Admin",
                Href = Url.Action("Home", "Admin")
            });
        }

        if (User.Identity.IsAuthenticated)
        {
            headerNavigationLinks.Add(new HeaderNavigationViewModel
            {
                Text = "Sign out",
                Href = Url.Action("SignOut", "Account"),
                Classes = "sign-out-link"
            });
        }
        else
        {
            headerNavigationLinks.Add(new HeaderNavigationViewModel
            {
                Text = "Sign in",
                Href = Url.Action("ManageOrganisations", "Submission"),
                Classes = "sign-out-link"
            });
        }

        @(Html.GovUkHeader(new HeaderViewModel
    {
        ServiceName = "Modern Slavery Reporting service",
        AssetsPath = assetsPath,
        HomepageUrl = "https://www.gov.uk",
        ServiceUrl = "/",
        Navigation = headerNavigationLinks
    }))

    }

    <div class="govuk-width-container">

        @(Html.GovUkPhaseBanner(new PhaseBannerViewModel
    {
        Phase = "DISCOVERY",
        Html = @<text>This is a new service – your <a class="govuk-link" asp-action="SendFeedback" asp-controller="shared">feedback</a> will help us to improve it.</text>
    }))
        @(RenderSection("BeforeMain", false))

        <main class="govuk-main-wrapper" id="main-content" role="main">
            @RenderBody()
        </main>
    </div>

    @(Html.GovUkFooter(new FooterViewModel
{
    MetaNavigation = new FooterMetaNavigationViewModel
    {
        Links = new[]
        {
            new FooterLinksViewModel
            {
                Text = "Contact Us",
                Href = Url.Page("/ContactUs")
            },
            new FooterLinksViewModel
            {
                Text = "Cookies",
                Href = Url.Action("CookieSettings","Shared")
            },
            new FooterLinksViewModel
            {
                Text = "Privacy Policy",
                Href = Url.Action("PrivacyPolicy","Shared")
            },
            new FooterLinksViewModel
            {
                Text = "Report Concerns",
                Href = Url.Action("ReportConcerns","Shared")
            }
        }
    }
}))

    <environment exclude="Development, DEV, TEST">
        <script src="/assets/scripts/app.min.js" type="text/javascript" asp-append-version="true"></script>
    </environment>
    <environment include="Development, DEV, TEST">
        <script asp-src-include="/assets/scripts/**/*.js" asp-src-exclude="/assets/scripts/app.min.js" type="text/javascript"></script>
    </environment>

    <script>window.GOVUKFrontend.initAll()</script>
    @RenderSection("AfterLoadedCompiledScripts", false)
</body>
</html>