@using ModernSlavery.Core.Models
@using ModernSlavery.WebUI.Shared.Classes.Cookies
@using ModernSlavery.WebUI.Shared.Interfaces
@using ModernSlavery.WebUI.Shared.Options
@inject ModernSlavery.WebUI.Shared.Options.CdnOptions cdnOptions;
@inject SharedOptions sharedOptions
@inject FeatureSwitchOptions featureSwitchOptions
@inject IWebService WebService
<!-- @Html.PageIdentifier() -->
<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" default-content="text/html; charset=UTF-8" />

    <partial name="Robots" />
    @if (User.Identity.IsAuthenticated)
    {
        <meta http-equiv="refresh" content="@(sharedOptions.SessionTimeOutSeconds);@Url.Action("SessionExpired", "Shared", null, "https")" />
    }
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="blue" />
    <meta name="format-detection" content="telephone=no" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link asp-append-version="true" rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon" />
    <link asp-append-version="true" rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="blue">
    <link asp-append-version="true" rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
    <link asp-append-version="true" rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
    <link asp-append-version="true" rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
    <link asp-append-version="true" rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">

    @if (IsRelease)
    {

        <!--[if !IE 8]><!-->
        <link asp-append-version="true" href="/assets/styles/app-all.min.css" rel="stylesheet" type="text/css" media="all" />
        <!--<![endif]-->
        <!--[if IE 8]>
            <link href="/assets/styles/app-ie8.min.css" rel="stylesheet" type="text/css" media="all" />
        <![endif]-->
    }
    else
    {
        <!--[if !IE 8]><!-->
        <link asp-append-version="true" href="/assets/styles/app-all.css" rel="stylesheet" type="text/css" media="all" />
        <!--<![endif]-->
        <!--[if IE 8]>
            <link href="/assets/styles/app-ie8.css" rel="stylesheet" type="text/css" media="all" />
        <![endif]-->
    }

    @{ await Html.RenderPartialAsync("_Tracking"); }
</head>

<body class="govuk-template__body govuk-body app-body-class">
    <script type="text/javascript" nonce="@Html.GetNonce()">
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    @if (featureSwitchOptions.IsEnabled("CookiePolicyLink") && !CookieHelper.HasSeenLatestCookieMessage(Context.Request) && !ViewContext.RouteData.Values["action"].Equals("CookieSettings"))
    {
        await Html.RenderPartialAsync("~/Views/Components/CookieBanner.cshtml");
    }

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    @{
        var headerNavigationLinks = new List<HeaderNavigationViewModel>();
        if (featureSwitchOptions.IsEnabled("NavigationLinks") && User.Identity.IsAuthenticated)
        {
            if (this.Controller.IsAdministrator)
            {
                headerNavigationLinks.Add(new HeaderNavigationViewModel
                {
                    Text = "Admin",
                    Href = Url.ActionArea("Home", "Admin", "Admin"),

                });
            }
            else
            {
                headerNavigationLinks.Add(new HeaderNavigationViewModel
                {
                    Text = "Your organisations",
                    Href = Url.ActionArea("ManageOrganisations", "Submission", "Submission"),

                });
            }

            if (Controller.IsDevOpsAdministrator)
            {
                headerNavigationLinks.Add(new HeaderNavigationViewModel
                {
                    Text = "DevOps",
                    Href = Url.ActionArea("Home", "DevOps", "DevOps"),

                });
            }

            headerNavigationLinks.Add(new HeaderNavigationViewModel
            {
                Text = "Your details",
                Href = Url.ActionArea("ManageAccount", "Account", "Account")
            });

            headerNavigationLinks.Add(new HeaderNavigationViewModel
            {
                Text = "Sign out",
                Href = Url.ActionArea("SignOut", "Account", "Account"),
                //Classes = "sign-out-link"
            });
        }

        else if (!Url.IsAction("Login", "Identity", "Identity") && !User.Identity.IsAuthenticated)
        {
            headerNavigationLinks.Add(new HeaderNavigationViewModel
            {
                Text = "Sign in",
                Href = Url.ActionArea("ManageOrganisations", "Submission", "Submission"),
                Classes = "sign-out-link"
            });
        }

        @(Html.GovUkHeader(new HeaderViewModel
    {
        ServiceName = sharedOptions.ServiceName,
        HomepageUrl = "https://www.gov.uk",
        ServiceUrl = featureSwitchOptions.IsEnabled("NavigationLinks") ? "/" : null,
        Navigation = headerNavigationLinks
    }))

        @(Html.GovUkPhaseBanner(new PhaseBannerViewModel
    {
        Classes= "phase-banner-beta govuk-width-container",
        Phase = "BETA",
        Html = @<text>This is a new service – your <a rel="track" data-track-category="pageElementInteraction" class="govuk-link" asp-action="SendFeedback" asp-controller="shared">feedback</a> will help us to improve it.</text>
    }))

    }
    @RenderSection("Masthead", false)
    <div class="govuk-width-container">
        <div class="navigation" role="navigation" aria-label="page-navigation">
            @(RenderSection("BeforeMain", false))
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">
            @RenderBody()
        </main>
    </div>
    @{
        var links = new List<FooterLinksViewModel>();

        links.Add(new FooterLinksViewModel
        {
            Text = "Contact us",
            Href = Url.Action("ContactUs", "Shared")
        });

        if (featureSwitchOptions.IsEnabled("CookiePolicyLink"))
            links.Add(new FooterLinksViewModel
            {
                Text = "Cookies",
                Href = Url.Action("CookieSettings", "Shared")
            });
        if (featureSwitchOptions.IsEnabled("PrivacyPolicyLink"))
            links.Add(new FooterLinksViewModel
            {
                Text = "Privacy Policy",
                Href = Url.Action("PrivacyPolicy", "Shared")
            });
        if (featureSwitchOptions.IsEnabled("ReportConcernsLink"))
            links.Add(new FooterLinksViewModel
            {
                Text = "Report Concerns",
                Href = Url.Action("ReportConcerns", "Shared")
            });
        if (featureSwitchOptions.IsEnabled("AccessibilityLink"))
            links.Add(new FooterLinksViewModel
            {
                Text = "Accessibility statement",
                Href = Url.Action("AccessibilityStatement", "Shared")
            });

    }
    @(Html.GovUkFooter(new FooterViewModel { MetaNavigation = new FooterMetaNavigationViewModel() { Links = links.ToArray() } }))
    <script asp-append-version="true" src="/assets/scripts/jquery-1.11.3.js"></script>
    @RenderSection("BeforeLoadedCompiledScripts", false)
    @if (IsRelease)
    {
        <script asp-append-version="true" src="/assets/scripts/app.min.js" type="text/javascript"></script>
        <script asp-append-version="true" src="/assets/javascripts/application.min.js" type="text/javascript"></script>
    }
    else
    {
        <script asp-append-version="true" asp-src-include="/assets/scripts/**/*.js" asp-src-exclude="/assets/scripts/app.min.js" type="text/javascript"></script>
        <script asp-append-version="true" asp-src-include="/assets/javascripts/**/*.js" asp-src-exclude="/assets/javascripts/**/*.min.js,/assets/javascripts/page/**/*.js" type="text/javascript"></script>
    }
    <script type="text/javascript" nonce="@Html.GetNonce()">window.GOVUKFrontend.initAll()</script>
    @{ await Html.RenderPartialAsync("_GoogleAnalyticsEventTracking"); }
    @RenderSection("AfterLoadedCompiledScripts", false)

</body>
</html>