@model GroupSearchViewModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<button class="link-button find-organisation" data-module="govuk-button" type="submit" name="command" value="@BaseViewModel.CommandType.ToggleResults">
    Can't find the organisation you're looking for?
</button>

</div>
    </div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full" js-live-search-results-block" aria-live="assertive">       
      
            @if (Model.GroupResults.ResultsPage.Results.Count < 1)
            {
                <div class="govuk-form-group govuk-!-margin-top-5 zero-results">
                    <h2 class="govuk-heading-m">0 organisations found that match your search</h2>
                    <h2 class="govuk-heading-m">Please try:</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>searching again using different organisation name or company number</li>
                    </ul>
                </div>
            }
            else
            {

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row header">
            <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
                Organisation name
            </dt>
            <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
                Company number
            </dt>
            <dt class="govuk-summary-list__value govuk-!-font-weight-bold">
                Address
            </dt>
            <dt class="govuk-summary-list__value govuk-!-font-weight-bold">                
            </dt>            
        </div>

            

                @for (var addIndex = 0; addIndex < Model.GroupResults.ResultsPage.Results.Count; addIndex++)
                {

    <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">

            <p class="govuk-!-font-weight-bold"> @(Model.GroupResults.ResultsPage.Results[addIndex].OrganisationName)</p>

        </dd>
        <dd class="govuk-summary-list__value wide">

            <p> @(Model.GroupResults.ResultsPage.Results[addIndex].CompanyNumber)</p>

        </dd>
        <dd class="govuk-summary-list__value">
            <p class="">@(Model.GroupResults.ResultsPage.Results[addIndex].GetFullAddress())</p>

        </dd>
        <dd class="govuk-summary-list__value small">

            <p>Company number: @(Model.GroupResults.ResultsPage.Results[addIndex].CompanyNumber)</p>

        </dd>
       
        <dd class="govuk-summary-list__actions">
            @if (Model.ContainsGroupOrganisation(Model.GroupResults.ResultsPage.Results[addIndex]))
            {
                <button type="submit" class="link-button" data-module="govuk-button" name="removeIndex" value="@(addIndex)">Remove</button>
            }
            else if (Model.OrganisationId != Model.GroupResults.ResultsPage.Results[addIndex].OrganisationId && Model.GroupResults.ResultsPage.Results[addIndex].GetFullAddress() != null)
            {
                <button class="govuk-button govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button" type="submit" name="addIndex" value="@(addIndex)">
                    Include
                </button>
            }
        </dd>
    </div>
   }
            
    </dl>
            }

      
    </div>
</div>
<partial name="_SearchPagination.cshtml" model="Model.GroupResults.ResultsPage" />

@section Scripts {
    <script>
        (function () {
            "use strict";

            //Keep comparison basket within viewport
            GOVUK.stickAtTopWhenScrolling.init();

            new GOVUK.Ajaxify({
                onRefresh: function () {
                    GOVUK.stickAtTopWhenScrolling.init();
                },
                onError: function (errorCode, error, errorThrown) {
                    window.location.href = '/error/408';
                }
            });

        }());

    </script>
}
