@model GroupSearchViewModel
@using ModernSlavery.Core.Interfaces;
@inject IObfuscator Obfuscator;

@if (Model.StatementOrganisations.Count > 0)
{
    <div class="govuk-inset-text floating-summary">
        <h2 class="govuk-heading-m">@Model.StatementOrganisations.Count  @(Model.StatementOrganisations.Count == 1 ? "organisation" : "organisations") included</h2>
        <p class="govuk-body"> in @Model.OrganisationName group statement (@(Model.ReportingDeadlineYear)) </p>
        <a class="govuk-link" href="@Url.Action(nameof(StatementController.GroupReview), new {organisationIdentifier = Obfuscator.Obfuscate(Model.OrganisationId), year = Model.ReportingDeadlineYear})">See which organisations you've selected</a>
    </div>
}
else
{
    <h2 class="govuk-heading-s">
        @(Model.OrganisationName) <a class="govuk-link" href="@Url.Action(nameof(StatementController.GroupReview),new {organisationIdentifier = Obfuscator.Obfuscate(Model.OrganisationId), year = Model.ReportingDeadlineYear})">group statement</a> (@(Model.ReportingDeadlineYear))
    </h2>
}

