@{
    Layout = "~/Views/DfeTemplate.cshtml";
    Title = "Confirm your new email address";
}
@inject IWebService WebService
@model ChangeEmailStatusViewModel
<div class="grid-row">

    <div class="column-two-thirds">

        <h1 class="heading-large">
            Confirm your new email address
        </h1>

        <dl class="govuk-check-your-answers cya-questions-short">
            <div>
                <dt class="cya-question">
                    Current email
                </dt>
                <dd class="cya-answer">
                    @Model.OldEmail
                </dd>
            </div>
            <div>
                <dt class="cya-question">
                    New email
                </dt>
                <dd class="cya-answer">
                    @if (!string.IsNullOrWhiteSpace(ViewBag.VerifyCode))
                    {
                    <a href="@ViewBag.VerifyUrl">
                        @Model.NewEmail
                    </a>
                    }
                    else
                    {
                        @Model.NewEmail
                    }
                </dd>
            </div>
        </dl>

        <br />
        <br />

        <p>
            We have sent a verification email to your new address.
        </p>


        <p>
            Click on the verification link within 24 hours to confirm your change of email address.
        </p>

        <h2 class="heading-medium">More options</h2>
        <ul class="list">
            <li>
                <a href="@(Url.Action<AccountController>(nameof(AccountController.ManageAccount)))">Manage account</a>
            </li>

            <li>
                <a asp-action="ManageOrganisations" asp-controller="Submission" asp-area="Submission">Manage organisations</a>
            </li>
        </ul>

    </div>

</div>