@model ManageAccountViewModel
@{
    Layout = "~/Views/GdsLayout.cshtml";
    Title = "Manage your account";
}

<partial name="_GovUkSuccessBanner" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Manage your details</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (string.IsNullOrEmpty(ViewBag.CloseAccountUrl) == false)
        {
            <a class="govuk-link" href="@(ViewBag.CloseAccountUrl)">
                Close your account
            </a>
        }
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-margin-top-9">
            <h2 class="govuk-heading-m">Login details</h2>
        </div>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">@Html.DisplayNameFor(m => m.EmailAddress)</dt>
                <dd class="govuk-summary-list__value">@Model.EmailAddress</dd>
                <dd class="govuk-summary-list__actions">
                    @if (string.IsNullOrEmpty(ViewBag.ChangeEmailUrl) == false)
                    {
                        <a class="govuk-link" href="@(ViewBag.ChangeEmailUrl)">
                            Change
                        </a>
                    }
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Password</dt>
                <dd class="govuk-summary-list__value">***********</dd>
                <dd class="govuk-summary-list__actions" ">
                    @if (string.IsNullOrEmpty(ViewBag.ChangePasswordUrl) == false)
                    {
                        <a class="govuk-link" href="@(ViewBag.ChangePasswordUrl)">
                            Change
                        </a>
                    }
                </dd>
            </div>
        </dl>
    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-grid-row gpg-c-cya">

            <div class="govuk-grid-column-one-half">
                <h2 class="govukheading-m" style="margin-top: 0">
                    Personal details
                </h2>
            </div>

            <div class="govuk-grid-column-one-half" style="text-align:right">
                @if (string.IsNullOrEmpty(ViewBag.ChangeDetailsUrl) == false)
                {
                    <a class="govuk-link" href="@(ViewBag.ChangeDetailsUrl)">
                        Change
                    </a>
                }
            </div>
        </div>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">@Html.DisplayNameFor(m => m.FirstName)</dt>
                <dd class="govuk-summary-list__value">@Model.FirstName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">@Html.DisplayNameFor(m => m.LastName)</dt>
                <dd class="govuk-summary-list__value">@Model.LastName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">@Html.DisplayNameFor(m => m.JobTitle)</dt>
                <dd class="govuk-summary-list__value">@Model.JobTitle</dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">@Html.DisplayNameFor(m => m.ContactPhoneNumber)</dt>
                <dd class="govuk-summary-list__value">@Model.ContactPhoneNumber</dd>
            </div>
        </dl>

    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-grid-row gpg-c-cya">

            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-m" style="margin-top: 0">
                    Contact preferences
                </h2>
            </div>

            <div class="govuk-grid-column-one-half" style="text-align:right">
                @if (string.IsNullOrEmpty(ViewBag.ChangeDetailsUrl) == false)
                {
                    <a class="govuk-link" href="@(ViewBag.ChangeDetailsUrl)">
                        Change
                    </a>
                }
            </div>

        </div>

        <dl class="govuk-summary-list govuk-check-your-answers cya-questions-short" style="table-layout:auto">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="width: 80%;">
                    <span class="govuk-body">@Html.DisplayNameFor(m => m.SendUpdates)</span>
                </dt>

                <dd class="govuk-summary-list__value cya-change gpg-c-yesno">
                    @if (Model.SendUpdates)
                    {
                        <span class="gpg-c-yesno__mark--tick" style="text-align:right"></span>
                        <span class="gpg-c-yesno--text">Yes</span>
                    }
                    else
                    {
                        <span class="gpg-c-yesno__mark--cross" style="text-align:right"></span>
                        <span class="gpg-c-yesno--text">No</span>
                    }
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    <span class="govuk-body">@Html.DisplayNameFor(m => m.AllowContact)</span>
                </dt>
                <dd class="govuk-summary-list__value cya-change gpg-c-yesno">
                    @if (Model.AllowContact)
                    {
                        <span class="gpg-c-yesno__mark--tick"></span>
                        <span class="gpg-c-yesno--text">Yes</span>
                    }
                    else
                    {
                        <span class="gpg-c-yesno__mark--cross"></span>
                        <span class="gpg-c-yesno--text">No</span>
                    }
                </dd>
            </div>
        </dl>

    </div>
</div>
<hr style="background: black; border: 1px solid black;" />

@await Html.PartialAsync("ServiceSurveyIntroAndLink")
